# Mapping information per district/ward

## Imports

In [88]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [89]:
from earthquake_damage.data.main import reduce_memory_df

## Import data

In [220]:
household_comp = pd.read_csv('/Users/chantalwuerschinger/code/chantalwuer/earthquake_damage/processed_data/comp_data_household.csv')
attributes_map = pd.read_csv('/Users/chantalwuerschinger/code/chantalwuer/earthquake_damage/raw_data/geographical/attributes_maps.csv')
geo_keys = pd.read_csv('/Users/chantalwuerschinger/code/chantalwuer/earthquake_damage/raw_data/geographical/ward_vdcmun_district_name_mapping.csv')

In [221]:
district_vdc_keys = pd.read_csv('/Users/chantalwuerschinger/code/chantalwuer/earthquake_damage/raw_data/geographical/District_VDC_codes_Nepal.csv')
wards_keys = pd.read_csv('/Users/chantalwuerschinger/code/chantalwuer/earthquake_damage/raw_data/geographical/map_wards_index.csv')

In [92]:
household_comp = reduce_memory_df(household_comp)
attributes_map = reduce_memory_df(attributes_map)

Original memory usage of df is 251 MB
New memory usage of df is 56 MB
Original memory usage of df is 0 MB
New memory usage of df is 0 MB

## Open Data Portal

### Household Comp Data

In [17]:
display(household_comp.head())
household_comp.shape

,building_id,district_id,vdcmun_id,ward_id,count_floors_pre_eq,age_building,land_surface_condition,foundation_type,roof_type,ground_floor_type,other_floor_type,position,plan_configuration,has_superstructure_adobe_mud,has_superstructure_mud_mortar_stone,has_superstructure_stone_flag,has_superstructure_cement_mortar_stone,has_superstructure_mud_mortar_brick,has_superstructure_cement_mortar_brick,has_superstructure_timber,has_superstructure_bamboo,has_superstructure_rc_non_engineered,has_superstructure_rc_engineered,has_superstructure_other,damage_grade,legal_ownership_status,count_families,has_secondary_use,has_secondary_use_agriculture,has_secondary_use_hotel,has_secondary_use_rental,has_secondary_use_institution,has_secondary_use_school,has_secondary_use_industry,has_secondary_use_health_post,has_secondary_use_gov_office,has_secondary_use_use_police,has_secondary_use_other,household_id,gender_household_head,age_household_head,education_level_household_head,income_level_household,size_household
0,120101000011,12,1207,120703,1,9,Flat,Other,Bamboo/Timber-Light roof,Mud,Not applicable,Not attached,Rectangular,0,1,0,0,0,0,0,1,0,0,0,Grade 3,Private,1.0,0.0,0,0,0,0,0,0,0,0,0,0,12010100001101,Male,31.0,Illiterate,0.0,3.0
1,120101000021,12,1207,120703,1,15,Flat,Other,Bamboo/Timber-Light roof,Mud,Not applicable,Not attached,Rectangular,0,1,0,0,0,0,0,1,0,0,0,Grade 5,Private,1.0,0.0,0,0,0,0,0,0,0,0,0,0,12010100002101,Female,62.0,Illiterate,0.0,6.0
2,120101000031,12,1207,120703,1,20,Flat,Other,Bamboo/Timber-Light roof,Mud,Not applicable,Not attached,Rectangular,0,1,0,0,0,0,0,0,0,0,0,Grade 2,Private,1.0,0.0,0,0,0,0,0,0,0,0,0,0,12010100003101,Male,51.0,Illiterate,0.0,13.0
3,120101000041,12,1207,120703,1,20,Flat,Other,Bamboo/Timber-Light roof,Mud,Not applicable,Not attached,Rectangular,0,1,0,0,0,0,0,0,0,0,0,Grade 2,Private,1.0,0.0,0,0,0,0,0,0,0,0,0,0,12010100004101,Male,48.0,Illiterate,0.0,5.0
4,120101000051,12,1207,120703,1,30,Flat,Other,Bamboo/Timber-Light roof,Mud,Not applicable,Not attached,Rectangular,0,1,0,0,0,0,0,0,0,0,0,Grade 1,Private,1.0,0.0,0,0,0,0,0,0,0,0,0,0,12010100005101,Male,70.0,Illiterate,0.0,8.0

(747137, 44)

In [18]:
household_comp.sort_values(by='ward_id').head()

,building_id,district_id,vdcmun_id,ward_id,count_floors_pre_eq,age_building,land_surface_condition,foundation_type,roof_type,ground_floor_type,other_floor_type,position,plan_configuration,has_superstructure_adobe_mud,has_superstructure_mud_mortar_stone,has_superstructure_stone_flag,has_superstructure_cement_mortar_stone,has_superstructure_mud_mortar_brick,has_superstructure_cement_mortar_brick,has_superstructure_timber,has_superstructure_bamboo,has_superstructure_rc_non_engineered,has_superstructure_rc_engineered,has_superstructure_other,damage_grade,legal_ownership_status,count_families,has_secondary_use,has_secondary_use_agriculture,has_secondary_use_hotel,has_secondary_use_rental,has_secondary_use_institution,has_secondary_use_school,has_secondary_use_industry,has_secondary_use_health_post,has_secondary_use_gov_office,has_secondary_use_use_police,has_secondary_use_other,household_id,gender_household_head,age_household_head,education_level_household_head,income_level_household,size_household
22009,123404000061,12,1201,120101,3,21,Flat,Mud mortar-Stone/Brick,Bamboo/Timber-Heavy roof,Mud,TImber/Bamboo-Mud,Not attached,Rectangular,0,1,0,0,0,0,0,0,0,0,0,Grade 1,Private,1.0,0.0,0,0,0,0,0,0,0,0,0,0,12340400006101,Male,70.0,Illiterate,0.0,6.0
22219,123405001101,12,1201,120101,2,15,Flat,Cement-Stone/Brick,Bamboo/Timber-Light roof,Mud,TImber/Bamboo-Mud,Not attached,Rectangular,0,1,0,0,0,0,0,0,0,0,0,Grade 4,Private,1.0,0.0,0,0,0,0,0,0,0,0,0,0,12340500110101,Male,62.0,Non-formal education,0.0,2.0
22218,123405001091,12,1201,120101,2,35,Flat,Mud mortar-Stone/Brick,Bamboo/Timber-Light roof,Mud,TImber/Bamboo-Mud,Not attached,Rectangular,0,1,0,0,0,0,0,0,0,0,0,Grade 3,Private,1.0,0.0,0,0,0,0,0,0,0,0,0,0,12340500109101,Male,82.0,Non-formal education,0.0,2.0
22217,123405001081,12,1201,120101,2,30,Flat,Mud mortar-Stone/Brick,Bamboo/Timber-Light roof,Mud,TImber/Bamboo-Mud,Not attached,Rectangular,0,1,0,0,0,0,0,0,0,0,0,Grade 5,Private,1.0,0.0,0,0,0,0,0,0,0,0,0,0,12340500108101,Female,35.0,Non-formal education,1.0,7.0
22216,123405001071,12,1201,120101,2,17,Flat,Cement-Stone/Brick,Bamboo/Timber-Light roof,Mud,TImber/Bamboo-Mud,Not attached,Rectangular,0,1,0,0,0,0,0,0,0,0,0,Grade 4,Private,1.0,0.0,0,0,0,0,0,0,0,0,0,0,12340500107101,Male,42.0,In education,1.0,6.0

In [19]:
household_comp.vdcmun_id.nunique()

110

In [20]:
districts = household_comp.district_id.unique()

In [21]:
districts

array([12, 20, 21, 22, 23, 24, 28, 29, 30, 31, 36], dtype=int8)

### Geokeys

In [22]:
display(geo_keys.head())
geo_keys.shape

,ward_id,vdcmun_id,vdcmun_name,district_id,district_name
0,120101,1201,Champadevi Rural Municipality,12,Okhaldhunga
1,120102,1201,Champadevi Rural Municipality,12,Okhaldhunga
2,120103,1201,Champadevi Rural Municipality,12,Okhaldhunga
3,120104,1201,Champadevi Rural Municipality,12,Okhaldhunga
4,120105,1201,Champadevi Rural Municipality,12,Okhaldhunga

(949, 5)

In [23]:
geo_keys.vdcmun_name.unique()

array(['Champadevi Rural Municipality',
       'Chishankhu Gadhi Rural Municipality',
       'Khiji Demba Rural Municipality', 'Likhu Rural Municipality',
       'Manebhanjyang Rural Municipality', 'Molung Rural Municipality',
       'Siddhicharan Municipality', 'Sunkoshi Rural Municipality',
       'Dudhouli Municipality', 'Ghyanglekha Rural Municipality',
       'Golanjor Rural Municipality',
       'Hariharpurgaghi Rural Municipality', 'Kamalamai Municipality',
       'Marin Rural Municipality', 'Phikkal Rural Municipality',
       'Tinpatan Rural Municipality', 'Doramba Rural Municipality',
       'Gokulganga Rural Municipality', 'Khandadevi Rural Municipality',
       'Likhu Tamakoshi Rural Municipality', 'Manthali  Municipality',
       'Ramechhap Municipality', 'Sunapati Rural Municipality',
       'Umakunda Rural Municipality', 'Baitedhar Rural Municipality',
       'Bhimeshwor Municipality', 'Bigu Rural Municipality',
       'Gaurishankar Rural Municipality', 'Jiri Municipality',
       'Kalinchowk Rural Municipality', 'Melung Rural Municipality',
       'Shailung Rural Municipality', 'Tamakoshi Rural Municipality',
       'Bahrabise Municipality', 'Balephi Rural Municipality',
       'Bhotekoshi Rural Municipality',
       'Choutara Sangachowkgadhi Municipality',
       'Helambu Rural Municipality', 'Indrawoti Rural Municipality',
       'Jugal Rural Municipality', 'Langtang National Park',
       'Lisankhu Pakhar Rural Municipality', 'Melanchi Municipality',
       'Panchpokhari Thangpal Rural Municipality',
       'Tripurasundari Rural Municipality', 'Banepa Municipality',
       'Bethanchowk Rural Municipality', 'Bhumlu Rural Municipality',
       'Chauri Deurali Rural Municipality', 'Dhulikhel Municipality',
       'Khanikhola Rural Municipality', 'Mahabharat Rural Municipality',
       'Mandan Deupur Municipality', 'Namobuddha Municipality',
       'Panauti Municipality', 'Panchkhal Municipality',
       'Roshi Rural Municipality', 'Temal Rural Municipality',
       'Belkotgadhi Municipality', 'Bidur Municipality',
       'Dupcheshwor Rural Municipality', 'Kakani Rural Municipality',
       'Kispang Rural Municipality', 'Myagang Rural Municipality',
       'Panchakanya Rural Municipality', 'Shivapuri Rural Municipality',
       'Suryagadhi Rural Municipality', 'Tadi Rural Municipality',
       'Tarakeshwor Rural Municipality',
       'Aamachhodingmo Rural Municipality',
       'Gosaikunda Rural Municipality', 'Kalika Rural Municipality',
       'Naukunda Rural Municipality', 'Uttargaya Rural Municipality',
       'Benighat Rorang Rural Municipality', 'Dhunibenshi Municipality',
       'Gajuri Rural Municipality', 'Galchhi Rural Municipality',
       'Ganga Jamuna Rural Municipality', 'Jwalamukhi Rural Municipality',
       'Khaniyabas Rural Municipality',
       'Netrawati Dabajong Rural Municipality',
       'Neelakantha Municipality', 'Rubi Valley Rural Municipality',
       'Siddhalek Rural Municipality', 'Thakre Rural Municipality',
       'Bagmati Rural Municipality', 'Bakaiya Rural Municipality',
       'Bhimphedi Rural Municipality', 'Hetauda Sub-Metropolitian City',
       'Indrasarowar Rural Municipality', 'Kailash Rural Municipality',
       'Makawanpurgadhi Rural Municipality',
       'Manahari Rural Municipality', 'Parsa Wild Life Reserve',
       'Raksirang Rural Municipality', 'Thaha Municipality',
       'Aarughat Rural Municipality', 'Ajirkot Rural Municipality',
       'Barpak Sulikot Rural Municipality',
       'Bhimsen Thapa Rural Municipality',
       'Chumanubri Rural Municipality', 'Dharche Rural Municipality',
       'Gandaki Rural Municipality', 'Gorkha Municipality',
       'Palungtar Municipality', 'Shahid Lakhan Rural Municipality',
       'Siranchowk Rural Municipality'], dtype=object)

## Attributes map shp/ Unit names

In [24]:
display(attributes_map.head())
attributes_map.shape

,ID,PROVINCE,DISTRICT,UNIT_TYPE,UNIT_NAME,DISTRICT_C,SHAPE_LENG,SHAPE_AREA
0,12001,1,OKHALDHUNGA,Gaunpalika,Champadevi,12,67524.513063,1.269135e+08
1,12002,1,OKHALDHUNGA,Gaunpalika,Chisankhugadhi,12,59967.873321,1.119305e+08
2,12003,1,OKHALDHUNGA,Gaunpalika,Khijidemba,12,63964.120360,1.797693e+08
3,12004,1,OKHALDHUNGA,Gaunpalika,Likhu,12,54519.341217,8.803235e+07
4,12005,1,OKHALDHUNGA,Gaunpalika,Manebhanjyang,12,59119.757274,1.466087e+08

(114, 8)

In [25]:
unit_names = attributes_map.UNIT_NAME.unique().tolist()

## District Keys

In [26]:
district_vdc_keys.head()

,District,Zone,Geographical Region,Region,District_code,VDC_name,VDC_code
0,Taplejung,Mechi,Mountain,Eastern,1,Ambegudin,1001
1,Taplejung,Mechi,Mountain,Eastern,1,Ankhop,1002
2,Taplejung,Mechi,Mountain,Eastern,1,Chaksibote,1003
3,Taplejung,Mechi,Mountain,Eastern,1,Change,1004
4,Taplejung,Mechi,Mountain,Eastern,1,Dhungesaghu,1005

In [27]:
district_vdc_keys.District_code.unique()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34,
       35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51,
       52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68,
       69, 70, 71, 72, 73, 74, 75])

In [28]:
district_vdc_keys.District.unique()

array(['Taplejung', 'Panchthar', 'Ilam', 'Jhapa', 'Morang', 'Sunsari',
       'Dhankuta', 'Terhathum', 'Sankhuwasabha', 'Bhojpur', 'Solukhumbu',
       'Okhaldhunga', 'Khotang', 'Udayapur', 'Saptari', 'Siraha',
       'Dhanusa', 'Mahottari', 'Sarlahi', 'Sindhuli', 'Ramechhap',
       'Dolakha', 'Sindhupalchok', 'Kavre', 'Lalitpur', 'Bhaktapur',
       'Kathmandu', 'Nuwakot', 'Rasuwa', 'Dhading', 'Makwanpur',
       'Rautahat', 'Bara', 'Parsa', 'Chitawan', 'Gorkha', 'Lamjung',
       'Tanahu', 'Syangja', 'Kaski', 'Manang', 'Mustang', 'Myagdi',
       'Parbat', 'Baglung', 'Gulmi', 'Palpa', 'Nawalparasi', 'Rupandehi',
       'Kapilbastu', 'Arghakhanchi', 'Pyuthan', 'Rolpa', 'Rukum',
       'Salyan', 'Dang', 'Banke', 'Bardiya', 'Surkhet', 'Dailekh',
       'Jajarkot', 'Dolpa', 'Jumla', 'Kalikot', 'Mugu', 'Humla', 'Bajura',
       'Bajhang', 'Achham', 'Doti', 'Kailali', 'Kanchanpur', 'Dadeldhura',
       'Baitadi', 'Darchaula'], dtype=object)

In [29]:
# only show columns with district_code = 12
district_vdc_keys[district_vdc_keys['VDC_code'] == 12001]

,District,Zone,Geographical Region,Region,District_code,VDC_name,VDC_code
507,Okhaldhunga,Sagarmatha,Hill,Eastern,12,Andheri(Narayansthan),12001

## Ward Keys

In [30]:
wards_keys.head()

   PROVINCE  DISTRICT                        PALIKA         TYPE  WARD  index
0         1  DHANKUTA                  Sangurigadhi   Gaunpalika    10      1
1         1  DHANKUTA                  Sangurigadhi   Gaunpalika     9      2
2         1  DHANKUTA  Khalsa Chhintang Shahidbhumi   Gaunpalika     7      3
3         1  DHANKUTA  Khalsa Chhintang Shahidbhumi   Gaunpalika     6      4
4         1  DHANKUTA                     Mahalaxmi  Nagarpalika     7      5

In [31]:
wards_keys.WARD.unique()

array([10,  9,  7,  6,  8,  2,  5,  1,  4,  3, 12, 11, 13, 14, 15, 16, 17,
       18, 19, 99, 20, 24, 21, 23, 22, 26, 29, 27, 25, 28, 33, 31, 30, 32,
        0])

In [32]:
wards_keys_sorted = wards_keys.sort_values(by=['DISTRICT', 'PALIKA'])
wards_keys_sorted.head()

      PROVINCE DISTRICT               PALIKA        TYPE  WARD  index
5000         7   ACHHAM  Bannigadhi Jayagadh  Gaunpalika     5   5001
5009         7   ACHHAM  Bannigadhi Jayagadh  Gaunpalika     3   5010
5024         7   ACHHAM  Bannigadhi Jayagadh  Gaunpalika     6   5025
5030         7   ACHHAM  Bannigadhi Jayagadh  Gaunpalika     1   5031
5038         7   ACHHAM  Bannigadhi Jayagadh  Gaunpalika     2   5039

In [33]:
wards_keys.shape

(6730, 6)

In [34]:
wards_keys[wards_keys['DISTRICT'] == 'OKHALDHUNGA']

     PROVINCE     DISTRICT          PALIKA         TYPE  WARD  index
298         1  OKHALDHUNGA        Sunkoshi   Gaunpalika     1    299
299         1  OKHALDHUNGA        Sunkoshi   Gaunpalika     2    300
300         1  OKHALDHUNGA    Siddhicharan  Nagarpalika     5    301
301         1  OKHALDHUNGA          Molung   Gaunpalika     2    302
302         1  OKHALDHUNGA    Siddhicharan  Nagarpalika     7    303
303         1  OKHALDHUNGA    Siddhicharan  Nagarpalika    10    304
304         1  OKHALDHUNGA  Chisankhugadhi   Gaunpalika     6    305
305         1  OKHALDHUNGA      Khijidemba   Gaunpalika     8    306
306         1  OKHALDHUNGA      Champadevi   Gaunpalika     8    307
307         1  OKHALDHUNGA      Champadevi   Gaunpalika     9    308
308         1  OKHALDHUNGA        Sunkoshi   Gaunpalika     7    309
309         1  OKHALDHUNGA        Sunkoshi   Gaunpalika     8    310
310         1  OKHALDHUNGA  Chisankhugadhi   Gaunpalika     3    311
311         1  OKHALDHUNGA           Likhu   Gaunpalika     6    312
312         1  OKHALDHUNGA           Likhu   Gaunpalika     7    313
313         1  OKHALDHUNGA          Molung   Gaunpalika     4    314
314         1  OKHALDHUNGA          Molung   Gaunpalika     3    315
315         1  OKHALDHUNGA    Siddhicharan  Nagarpalika     6    316
316         1  OKHALDHUNGA    Siddhicharan  Nagarpalika     9    317
317         1  OKHALDHUNGA      Champadevi   Gaunpalika     3    318
318         1  OKHALDHUNGA        Sunkoshi   Gaunpalika     9    319
319         1  OKHALDHUNGA        Sunkoshi   Gaunpalika    10    320
320         1  OKHALDHUNGA   Manebhanjyang   Gaunpalika     4    321
321         1  OKHALDHUNGA      Khijidemba   Gaunpalika     3    322
322         1  OKHALDHUNGA      Khijidemba   Gaunpalika     5    323
323         1  OKHALDHUNGA      Khijidemba   Gaunpalika     6    324
324         1  OKHALDHUNGA      Khijidemba   Gaunpalika     4    325
325         1  OKHALDHUNGA  Chisankhugadhi   Gaunpalika     1    326
326         1  OKHALDHUNGA          Molung   Gaunpalika     1    327
327         1  OKHALDHUNGA   Manebhanjyang   Gaunpalika     9    328
328         1  OKHALDHUNGA  Chisankhugadhi   Gaunpalika     8    329
329         1  OKHALDHUNGA  Chisankhugadhi   Gaunpalika     7    330
330         1  OKHALDHUNGA   Manebhanjyang   Gaunpalika     5    331
331         1  OKHALDHUNGA   Manebhanjyang   Gaunpalika     1    332
332         1  OKHALDHUNGA        Sunkoshi   Gaunpalika     5    333
333         1  OKHALDHUNGA        Sunkoshi   Gaunpalika     6    334
334         1  OKHALDHUNGA    Siddhicharan  Nagarpalika     3    335
335         1  OKHALDHUNGA           Likhu   Gaunpalika     3    336
336         1  OKHALDHUNGA    Siddhicharan  Nagarpalika    11    337
337         1  OKHALDHUNGA    Siddhicharan  Nagarpalika    12    338
338         1  OKHALDHUNGA      Champadevi   Gaunpalika     1    339
339         1  OKHALDHUNGA      Champadevi   Gaunpalika     2    340
340         1  OKHALDHUNGA          Molung   Gaunpalika     7    341
341         1  OKHALDHUNGA      Khijidemba   Gaunpalika     9    342
342         1  OKHALDHUNGA      Champadevi   Gaunpalika     4    343
343         1  OKHALDHUNGA      Champadevi   Gaunpalika     5    344
344         1  OKHALDHUNGA      Champadevi   Gaunpalika     6    345
345         1  OKHALDHUNGA      Champadevi   Gaunpalika     7    346
346         1  OKHALDHUNGA  Chisankhugadhi   Gaunpalika     2    347
347         1  OKHALDHUNGA           Likhu   Gaunpalika     9    348
348         1  OKHALDHUNGA          Molung   Gaunpalika     5    349
349         1  OKHALDHUNGA      Khijidemba   Gaunpalika     1    350
350         1  OKHALDHUNGA      Khijidemba   Gaunpalika     2    351
351         1  OKHALDHUNGA          Molung   Gaunpalika     8    352
352         1  OKHALDHUNGA      Champadevi   Gaunpalika    10    353
353         1  OKHALDHUNGA  Chisankhugadhi   Gaunpalika     4    354
354         1  OKHALDHUNGA  Chisankhugadhi   Gaunpalika     5    355
355         1  OKHALDHUNGA      Khijidemba   Gaunpalika     7    356
356         1  OKHALDHUNGA    Siddhicharan  Nagarpalika     4    357
357         1  OKHALDHUNGA    Siddhicharan  Nagarpalika     8    358
358         1  OKHALDHUNGA          Molung   Gaunpalika     6    359
359         1  OKHALDHUNGA           Likhu   Gaunpalika     1    360
360         1  OKHALDHUNGA           Likhu   Gaunpalika     2    361
361         1  OKHALDHUNGA        Sunkoshi   Gaunpalika     3    362
362         1  OKHALDHUNGA        Sunkoshi   Gaunpalika     4    363
363         1  OKHALDHUNGA   Manebhanjyang   Gaunpalika     7    364
364         1  OKHALDHUNGA   Manebhanjyang   Gaunpalika     8    365
365         1  OKHALDHUNGA    Siddhicharan  Nagarpalika     1    366
366         1  OKHALDHUNGA           Likhu   Gaunpalika     8    367
367         1  OKHALDHUNGA   Manebhanjyang   Gaunpalika     6    368
368         1  OKHALDHUNGA    Siddhicharan  Nagarpalika     2    369
369         1  OKHALDHUNGA   Manebhanjyang   Gaunpalika     3    370
370         1  OKHALDHUNGA   Manebhanjyang   Gaunpalika     2    371
371         1  OKHALDHUNGA           Likhu   Gaunpalika     4    372
372         1  OKHALDHUNGA           Likhu   Gaunpalika     5    373

In [35]:
wards_keys.DISTRICT.unique()

array(['DHANKUTA', 'MORANG', 'KHOTANG', 'OKHALDHUNGA', 'PANCHTHAR',
       'SOLUKHUMBU', 'UDAYAPUR', 'TERHATHUM', 'TAPLEJUNG',
       'SANKHUWASABHA', 'SUNSARI', 'JHAPA', 'BHOJPUR', 'ILAM', 'SAPTARI',
       'SIRAHA', 'DHADING', 'CHITAWAN', 'DOLAKHA', 'KABHREPALANCHOK',
       'LALITPUR', 'MAKAWANPUR', 'RASUWA', 'RAMECHHAP', 'SINDHUPALCHOK',
       'SINDHULI', 'BHAKTAPUR', 'BAGLUNG', 'ARGHAKHANCHI', 'GULMI',
       'GORKHA', 'KAPILBASTU', 'KASKI', 'PARBAT', 'NAWALPARASI', 'MYAGDI',
       'RUPANDEHI', 'SYANGJA', 'TANAHU', 'MUSTANG', 'PALPA', 'LAMJUNG',
       'BARDIYA', 'BANKE', 'DAILEKH', 'DANG', 'JAJARKOT', 'HUMLA',
       'DOLPA', 'KALIKOT', 'JUMLA', 'MUGU', 'PYUTHAN', 'SALYAN',
       'SURKHET', 'ROLPA', 'RUKUM', 'BAJURA', 'BAITADI', 'ACHHAM',
       'DARCHULA', 'DADELDHURA', 'DOTI', 'KANCHANPUR', 'KAILALI',
       'SARLAHI', 'RAUTAHAT', 'PARSA', 'NUWAKOT', 'MANANG', 'MAHOTTARI',
       'KATHMANDU', 'DHANUSHA', 'BAJHANG', 'BARA'], dtype=object)

# 1. Province

In [36]:
provinces = {
    0: 'Province 1',
    1: 'Madhesh',
    2: 'Bagmati',
    3: 'Gandaki',
    4: 'Lumbini',
    5: 'Karnali',
    6: 'Sudurpashchim'
}

provinces_capitals = {
    0: 'Biratnagar',
    1: 'Janakpur',
    2: 'Hetauda',
    3: 'Pokhara',
    4: 'Butwal',
    5: 'Birendranagar',
    6: 'Dhangadhi',
}

# 2. Districts

There are 77 districts within 5 regions

In [195]:
# Open Data Portal
district_codes = { 
        12:'Okhaldhunga',
        20:'Sindhuli',
        21:'Ramechhap',
        22:'Dolakha',
        23:'Sindhupalchok',
        24:'KABHREPALANCHOK',
        28:'Nuwakot',
        29:'Rasuwa',
        30:'Dhading',
        31:'Makawanpur',
        36:'Gorkha'
}

district_codes = {k: v.lower() for k, v in district_codes.items()}

# 3. VDC MUN/Unit code

In [127]:
municipality_codes = { 
        1201: 'Champadevi',
        1202: 'chisankhugadhi',
        1203: 'Khijidemba',
        1204: 'Likhu',
        1205: 'Manebhanjyang',
        1206: 'Molung',
        1207: 'Siddhicharan',
        1208: 'Sunkoshi',
        2001: 'Dudhouli',
        2002: 'Ghyanglekha',
        2003: 'Golanjor',
        2004: 'Hariharpurgadhi',
        2005: 'Kamalamai',
        2006: 'Marin',
        2007: 'Phikkal',
        2008: 'Sunkoshi',
        2009: 'Tinpatan',
        2101: 'Doramba',
        2102: 'Gokulganga',
        2103: 'Khadadevi',
        2104: 'Likhu Tamakoshi',
        2105: 'Manthali',
        2106: 'Ramechhap',
        2107: 'Sunapati',
        2108: 'Umakunda',
        2201: 'baiteshwor',
        2202: 'Bhimeshwor',
        2203: 'Bigu',
        2204: 'Gaurishankar',
        2205: 'Jiri',
        2206: 'kalinchok',
        2207: 'Melung',
        2208: 'sailung',
        2209: 'Tamakoshi',
        2301: 'barhabise',
        2302: 'Balefi',
        2303: 'Bhotekoshi',
        2304: 'chautara sangachok gadhi',
        2305: 'Helambu',
        2306: 'indrawati',
        2307: 'Jugal',
        2308: 'Langtang National Park',
        2309: 'lisangkhu pakhar',
        2310: 'melamchi',
        2311: 'Panchpokhari Thangpal',
        2312: 'Sunkoshi',
        2313: 'Tripurasundari',
        2401: 'Banepa',
        2402: 'Bethanchowk',
        2403: 'Bhumlu',
        2404: 'chaurideurali',
        2405: 'Dhulikhel',
        2406: 'Khanikhola',
        2407: 'Mahabharat',
        2408: 'mandandeupur',
        2409: 'Namobuddha',
        2410: 'Panauti',
        2411: 'Panchkhal',
        2412: 'Roshi',
        2413: 'Temal',
        2801: 'Belkotgadhi',
        2802: 'Bidur',
        2803: 'dupcheshwar',
        2804: 'Kakani',
        2805: 'Kispang',
        2807: 'Likhu',
        2808: 'Myagang',
        2809: 'Panchakanya',
        2810: 'Shivapuri',
        2811: 'Suryagadhi',
        2812: 'Tadi',
        2813: 'Tarakeshwor',
        2901: 'Aamachhodingmo',
        2902: 'Gosaikunda',
        2903: 'Kalika',
        2904: 'Naukunda',
        2905: 'Uttargaya',
        3001: 'Benighat Rorang',
        3002: 'dhunibesi',
        3003: 'Gajuri',
        3004: 'galchi',
        3005: 'gangajamuna',
        3006: 'Jwalamukhi',
        3007: 'khaniyabash',
        3008: 'Netrawati',
        3009: 'nilakantha',
        3010: 'Rubi Valley',
        3011: 'Siddhalek',
        3012: 'Thakre',
        3013: 'Tripurasundari',
        3101: 'Bagmati',
        3102: 'Bakaiya',
        3103: 'Bhimphedi',
        3104: 'Hetauda',
        3105: 'Indrasarowar',
        3106: 'Kailash',
        3107: 'Makawanpurgadhi',
        3108: 'Manahari',
        3109: 'Parsa Wildlife Reserve',
        3110: 'Raksirang',
        3111: 'Thaha',
        3601: 'Aarughat',
        3602: 'Ajirkot',
        3603: 'Sulikot',
        3604: 'Bhimsen',
        3605: 'chum nubri',
        3606: 'Dharche',
        3607: 'Gandaki',
        3608: 'Gorkha',
        3609: 'Palungtar',
        3610: 'sahid lakhan',
        3611: 'siranchok'
}

municipality_codes = {k: v.lower() for k, v in municipality_codes.items()}

In [103]:
district_vdc_keys.head()

,District,Zone,Geographical Region,Region,District_code,VDC_name,VDC_code
0,Taplejung,Mechi,Mountain,Eastern,1,Ambegudin,1001
1,Taplejung,Mechi,Mountain,Eastern,1,Ankhop,1002
2,Taplejung,Mechi,Mountain,Eastern,1,Chaksibote,1003
3,Taplejung,Mechi,Mountain,Eastern,1,Change,1004
4,Taplejung,Mechi,Mountain,Eastern,1,Dhungesaghu,1005

## Clean Attributes map

In [108]:
attributes_map.head()

,ID,PROVINCE,DISTRICT,UNIT_TYPE,UNIT_NAME,DISTRICT_C,SHAPE_LENG,SHAPE_AREA
0,12001,1,OKHALDHUNGA,Gaunpalika,Champadevi,12,67524.513063,1.269135e+08
1,12002,1,OKHALDHUNGA,Gaunpalika,Chisankhugadhi,12,59967.873321,1.119305e+08
2,12003,1,OKHALDHUNGA,Gaunpalika,Khijidemba,12,63964.120360,1.797693e+08
3,12004,1,OKHALDHUNGA,Gaunpalika,Likhu,12,54519.341217,8.803235e+07
4,12005,1,OKHALDHUNGA,Gaunpalika,Manebhanjyang,12,59119.757274,1.466087e+08

In [109]:
# Lowercase all the values

def lower_strings(sentence):
    return sentence.lower()
	
attributes_map['DISTRICT'] = attributes_map['DISTRICT'].apply(lower_strings)
attributes_map['UNIT_TYPE'] = attributes_map['UNIT_TYPE'].apply(lower_strings)
attributes_map['UNIT_NAME'] = attributes_map['UNIT_NAME'].apply(lower_strings)

In [110]:
attributes_map.head()

,ID,PROVINCE,DISTRICT,UNIT_TYPE,UNIT_NAME,DISTRICT_C,SHAPE_LENG,SHAPE_AREA
0,12001,1,okhaldhunga,gaunpalika,champadevi,12,67524.513063,1.269135e+08
1,12002,1,okhaldhunga,gaunpalika,chisankhugadhi,12,59967.873321,1.119305e+08
2,12003,1,okhaldhunga,gaunpalika,khijidemba,12,63964.120360,1.797693e+08
3,12004,1,okhaldhunga,gaunpalika,likhu,12,54519.341217,8.803235e+07
4,12005,1,okhaldhunga,gaunpalika,manebhanjyang,12,59119.757274,1.466087e+08

In [112]:
# Create a dictionary of district codes and names

municipality_codes_df = pd.DataFrame.from_dict(municipality_codes, orient='index', columns=['UNIT_NAME'])
municipality_codes_df['UNIT_NAME'] = municipality_codes_df['UNIT_NAME'].apply(lower_strings)
municipality_codes_df.reset_index(inplace=True)
municipality_codes_df.rename(columns={'index': 'UNIT_CODE'}, inplace=True)
municipality_codes_df.head()

   UNIT_CODE        UNIT_NAME
0       1201       champadevi
1       1202  chishankhugadhi
2       1203       khijidemba
3       1204            likhu
4       1205    manebhanjyang

In [113]:
# Merge municipality codes with attributes map on UNIT_NAME
# Drop nas, unneccecary columns, and change order of columns 

shp_unit_code = attributes_map.merge(municipality_codes_df, on='UNIT_NAME', how='left')
shp_unit_code.dropna(inplace=True)
shp_unit_code.drop(columns=['UNIT_TYPE'], inplace=True)
shp_unit_code = shp_unit_code[['ID', 'PROVINCE', 'DISTRICT', 'DISTRICT_C', 'UNIT_CODE', 'UNIT_NAME', 'SHAPE_LENG',
       'SHAPE_AREA', ]]
shp_unit_code['UNIT_CODE'] = shp_unit_code['UNIT_CODE'].astype(int)

In [114]:
# Save to csv
shp_unit_code.to_csv('/Users/chantalwuerschinger/code/chantalwuer/earthquake_damage/raw_data/geographical/shp_unit_code.csv', index=False)

In [157]:
shp_unit_code.head()

,ID,PROVINCE,DISTRICT,DISTRICT_C,UNIT_CODE,UNIT_NAME,SHAPE_LENG,SHAPE_AREA
0,12001,1,okhaldhunga,12,1201,champadevi,67524.513063,1.269135e+08
2,12003,1,okhaldhunga,12,1203,khijidemba,63964.120360,1.797693e+08
3,12004,1,okhaldhunga,12,1204,likhu,54519.341217,8.803235e+07
4,12004,1,okhaldhunga,12,2807,likhu,54519.341217,8.803235e+07
5,12005,1,okhaldhunga,12,1205,manebhanjyang,59119.757274,1.466087e+08

In [116]:
household_comp.head()

,building_id,district_id,vdcmun_id,ward_id,count_floors_pre_eq,age_building,land_surface_condition,foundation_type,roof_type,ground_floor_type,other_floor_type,position,plan_configuration,has_superstructure_adobe_mud,has_superstructure_mud_mortar_stone,has_superstructure_stone_flag,has_superstructure_cement_mortar_stone,has_superstructure_mud_mortar_brick,has_superstructure_cement_mortar_brick,has_superstructure_timber,has_superstructure_bamboo,has_superstructure_rc_non_engineered,has_superstructure_rc_engineered,has_superstructure_other,damage_grade,legal_ownership_status,count_families,has_secondary_use,has_secondary_use_agriculture,has_secondary_use_hotel,has_secondary_use_rental,has_secondary_use_institution,has_secondary_use_school,has_secondary_use_industry,has_secondary_use_health_post,has_secondary_use_gov_office,has_secondary_use_use_police,has_secondary_use_other,household_id,gender_household_head,age_household_head,education_level_household_head,income_level_household,size_household
0,120101000011,12,1207,120703,1,9,Flat,Other,Bamboo/Timber-Light roof,Mud,Not applicable,Not attached,Rectangular,0,1,0,0,0,0,0,1,0,0,0,Grade 3,Private,1.0,0.0,0,0,0,0,0,0,0,0,0,0,12010100001101,Male,31.0,Illiterate,0.0,3.0
1,120101000021,12,1207,120703,1,15,Flat,Other,Bamboo/Timber-Light roof,Mud,Not applicable,Not attached,Rectangular,0,1,0,0,0,0,0,1,0,0,0,Grade 5,Private,1.0,0.0,0,0,0,0,0,0,0,0,0,0,12010100002101,Female,62.0,Illiterate,0.0,6.0
2,120101000031,12,1207,120703,1,20,Flat,Other,Bamboo/Timber-Light roof,Mud,Not applicable,Not attached,Rectangular,0,1,0,0,0,0,0,0,0,0,0,Grade 2,Private,1.0,0.0,0,0,0,0,0,0,0,0,0,0,12010100003101,Male,51.0,Illiterate,0.0,13.0
3,120101000041,12,1207,120703,1,20,Flat,Other,Bamboo/Timber-Light roof,Mud,Not applicable,Not attached,Rectangular,0,1,0,0,0,0,0,0,0,0,0,Grade 2,Private,1.0,0.0,0,0,0,0,0,0,0,0,0,0,12010100004101,Male,48.0,Illiterate,0.0,5.0
4,120101000051,12,1207,120703,1,30,Flat,Other,Bamboo/Timber-Light roof,Mud,Not applicable,Not attached,Rectangular,0,1,0,0,0,0,0,0,0,0,0,Grade 1,Private,1.0,0.0,0,0,0,0,0,0,0,0,0,0,12010100005101,Male,70.0,Illiterate,0.0,8.0

In [117]:
test_shapefile = household_comp.groupby('vdcmun_id').agg({'age_building': np.mean, 
                                         'count_floors_pre_eq': np.mean,
                                         'land_surface_condition': pd.Series.mode,
                                         'foundation_type': pd.Series.mode,
                                         'roof_type': pd.Series.mode,
                                         'position': pd.Series.mode,
                                         'damage_grade': pd.Series.mode,
                                         'age_household_head': np.mean,
                                         'size_household': np.mean,
                                         'education_level_household_head': pd.Series.mode,
                                         'gender_household_head': pd.Series.mode,
                                         'vdcmun_id': pd.Series.mode,
                                         })

test_shapefile.head()

,age_building,count_floors_pre_eq,land_surface_condition,foundation_type,roof_type,position,damage_grade,age_household_head,size_household,education_level_household_head,gender_household_head,vdcmun_id
vdcmun_id,,,,,,,,,,,,
1201,14.715682,2.332103,Flat,Mud mortar-Stone/Brick,Bamboo/Timber-Light roof,Not attached,Grade 4,46.871851,5.706994,Illiterate,Male,1201
1202,26.172153,1.775596,Flat,Mud mortar-Stone/Brick,Bamboo/Timber-Light roof,Not attached,Grade 1,49.715192,5.134703,In education,Male,1202
1203,20.631608,2.330320,Flat,Mud mortar-Stone/Brick,Bamboo/Timber-Heavy roof,Not attached,Grade 4,48.173651,5.256642,Illiterate,Male,1203
1204,14.788103,1.981634,Flat,Mud mortar-Stone/Brick,Bamboo/Timber-Heavy roof,Not attached,Grade 4,49.612390,5.905702,Illiterate,Male,1204
1205,20.540249,1.780266,Flat,Mud mortar-Stone/Brick,Bamboo/Timber-Light roof,Not attached,Grade 2,48.355377,5.486584,Illiterate,Male,1205

In [118]:
test_shapefile.to_csv('/Users/chantalwuerschinger/code/chantalwuer/earthquake_damage/raw_data/geographical/test_shapefile.csv', index=True)

In [119]:
test_shapefile.columns

Index(['age_building', 'count_floors_pre_eq', 'land_surface_condition',
       'foundation_type', 'roof_type', 'position', 'damage_grade',
       'age_household_head', 'size_household',
       'education_level_household_head', 'gender_household_head', 'vdcmun_id'],
      dtype='object')

# 4. Wards

In [222]:
# Lowercase values, drop unneccecary columns, and change order of columns

wards_keys['PALIKA'] = wards_keys['PALIKA'].apply(lower_strings)
wards_keys['DISTRICT'] = wards_keys['DISTRICT'].apply(lower_strings)
wards_keys.drop(columns=['TYPE'], inplace=True)
wards_keys.rename(columns={'PALIKA': 'UNIT_NAME'}, inplace=True)
wards_keys.head()

   PROVINCE  DISTRICT                     UNIT_NAME  WARD  index
0         1  dhankuta                  sangurigadhi    10      1
1         1  dhankuta                  sangurigadhi     9      2
2         1  dhankuta  khalsa chhintang shahidbhumi     7      3
3         1  dhankuta  khalsa chhintang shahidbhumi     6      4
4         1  dhankuta                     mahalaxmi     7      5

In [223]:
municipality_codes_df.head()

   UNIT_CODE        UNIT_NAME
0       1201       champadevi
1       1202  chishankhugadhi
2       1203       khijidemba
3       1204            likhu
4       1205    manebhanjyang

#### Merge municipality codes with ward_unit_code

In [224]:
ward_unit_code = wards_keys.merge(municipality_codes_df, on='UNIT_NAME', how='left')

### Check if unit_name matches with municipality codes

In [225]:
wards_keys.UNIT_NAME.unique()

array(['sangurigadhi', 'khalsa chhintang shahidbhumi', 'mahalaxmi',
       'chaubise', 'dhankuta', 'pakhribas', 'chhathar jorpati',
       'budhiganga', 'kanepokhari', 'sundarharaicha', 'ratuwamai',
       'letang', 'miklajung', 'dhanpalthan', 'sunwarshi', 'rangeli',
       'belbari', 'gramthan', 'jahada', 'katahari', 'kerabari',
       'biratnagar', 'patahrishanishchare', 'uralabari', 'ainselukhark',
       'halesi tuwachung', 'barahapokhari', 'rupakot majhuwagadhi',
       'kepilasagadhi', 'diprung', 'lamidanda', 'khotehang', 'sakela',
       'jantedhunga', 'sunkoshi', 'siddhicharan', 'molung',
       'chisankhugadhi', 'khijidemba', 'champadevi', 'likhu',
       'manebhanjyang', 'hilihang', 'tumbewa', 'falgunanda', 'phidim',
       'yangwarak', 'falelung', 'kummayak', 'likhupike',
       'khumbupasanglahmu', 'dudhkaushika', 'solududhakunda', 'sotang',
       'nechasalyan', 'dudhkoshi', 'mahakulung', 'rautamai',
       'udayapurgadhi', 'chaudandigadhi', 'katari', 'tapli', 'triyuga',
       'belaka', 'koshi tappu wildlife reserve', 'myanglung', 'chhathar',
       'laligurans', 'aathrai', 'phedap', 'menchayam', 'sirijangha',
       'sidingba', 'aathrai tribeni', 'maiwakhola', 'phungling',
       'phaktanglung', 'meringden', 'mikwakhola', 'sabhapokhari',
       'panchakhapan', 'makalu', 'madi', 'khandbari', 'dharmadevi',
       'chichila', 'chainpur', 'bhotkhola', 'silichong', 'barju', 'gadhi',
       'inaruwa', 'ramdhuni', 'barah', 'harinagara', 'duhabi', 'bhokraha',
       'dharan', 'dewanganj', 'itahari', 'koshi', 'birtamod',
       'arjundhara', 'mechinagar', 'gauradhaha', 'kachankawal',
       'bhadrapur', 'buddhashanti', 'barhadashi', 'damak', 'gauriganj',
       'kankai', 'haldibari', 'jhapa', 'kamal', 'shivasataxi',
       'salpasilichho', 'shadananda', 'arun', 'tyamkemaiyung',
       'ramprasad rai', 'aamchowk', 'hatuwagadhi', 'pauwadungma',
       'bhojpur', 'mangsebung', 'illam', 'deumai', 'fakphokthum', 'mai',
       'chulachuli', 'suryodaya', 'rong', 'sandakpur', 'maijogmai',
       'surunga', 'dakneshwori', 'chhinnamasta', 'rajbiraj', 'kanchanrup',
       'krishna savaran', 'tilathi koiladi', 'belhi chapena', 'khadak',
       'shambhunath', 'rupani', 'mahadev', 'bode barsain',
       'hanumannagar kankalani', 'bishnupur', 'tirahut', 'saptakoshi',
       'laxmipur patari', 'kalyanpur', 'aurahi', 'bhagawanpur', 'naraha',
       'arnama', 'karjanhya', 'lahan', 'sakhuwanankarkatti',
       'bariyarpatti', 'siraha', 'mirchaiya', 'nawarajpur', 'golbazar',
       'dhangadhimai', 'sukhipur', 'gangajamuna', 'khaniyabash',
       'tripura sundari', 'rubi valley', 'galchi', 'benighat rorang',
       'thakre', 'jwalamukhi', 'dhunibesi', 'nilakantha', 'gajuri',
       'netrawati', 'siddhalek', 'bharatpur', 'rapti', 'ratnanagar',
       'ichchhyakamana', 'kalika', 'chitawan national park', 'khairahani',
       'bigu', 'kalinchok', 'melung', 'bhimeshwor', 'tamakoshi',
       'sailung', 'gaurishankar', 'baiteshwor', 'jiri', 'bethanchowk',
       'mandandeupur', 'temal', 'roshi', 'banepa', 'panauti', 'panchkhal',
       'namobuddha', 'dhulikhel', 'bhumlu', 'chaurideurali', 'mahabharat',
       'khanikhola', 'godawari', 'konjyosom', 'bagmati', 'mahankal',
       'lalitpur', 'kailash', 'manahari', 'hetauda', 'thaha',
       'makawanpurgadhi', 'bhimphedi', 'raksirang', 'indrasarowar',
       'bakaiya', 'parsa wildlife reserve', 'parbati kunda', 'uttargaya',
       'naukunda', 'gosaikunda', 'umakunda', 'gokulganga', 'sunapati',
       'manthali', 'khadadevi', 'doramba', 'ramechhap',
       'lisangkhu pakhar', 'indrawati', 'melamchi',
       'panchpokhari thangpal', 'jugal', 'barhabise',
       'chautara sangachok gadhi', 'tripurasundari', 'helambu', 'balefi',
       'bhotekoshi', 'ghanglekh', 'dudhouli', 'tinpatan', 'golanjor',
       'kamalamai', 'hariharpurgadhi', 'phikkal', 'marin',
       'changunarayan', 'suryabinayak', 'bhaktapur', 'madhyapur thimi',
       'baglung', 'tara khola', 'jaimuni', 'bareng', 'kanthekhola',
       'badigad', 'nisikhola', 'taman khola', 'dhorpatan', 'galkot',
       'dhorpatan hunting reserve', 'sandhikharka', 'malarani',
       'chhatradev', 'bhumekasthan', 'panini', 'sitganga', 'madane',
       'malika', 'musikot', 'dhurkot', 'isma', 'kaligandaki', 'resunga',
       'gulmidarbar', 'ruru', 'satyawati', 'chandrakot', 'chatrakot',
       'bhimsen', 'sulikot', 'siranchok', 'ajirkot', 'dharche', 'gorkha',
       'sahid lakhan', 'gandaki', 'chum nubri', 'palungtar', 'aarughat',
       'krishnanagar', 'banganga', 'maharajgunj', 'mayadevi',
       'suddhodhan', 'buddhabhumi', 'yashodhara', 'shivaraj',
       'kapilbastu', 'bijayanagar', 'pokhara lekhnath', 'rupa',
       'annapurna', 'machhapuchchhre', 'kushma', 'phalebas', 'modi',
       'jaljala', 'bihadi', 'mahashila', 'painyu', 'kawasoti', 'gaidakot',
       'ramgram', 'sarawal', 'binayee', 'bulingtar', 'bardaghat',
       'bungdikali', 'hupsekot', 'devchuli', 'palhi nandan',
       'madhyabindu', 'sunwal', 'susta', 'pratappur', 'mangala', 'beni',
       'raghuganga', 'dhaulagiri', 'siyari', 'lumbini sanskritik',
       'sammarimai', 'rohini', 'marchawari', 'kotahimai', 'omsatiya',
       'devdaha', 'kanchan', 'gaidahawa', 'sudhdhodhan',
       'lumbini sanskritik development area', 'sainamaina',
       'siddharthanagar', 'butwal', 'tillotama', 'phedikhola',
       'putalibazar', 'aandhikhola', 'biruwa', 'harinas', 'arjunchaupari',
       'galyang', 'waling', 'chapakot', 'bhirkot', 'kaligandagi', 'byas',
       'myagde', 'anbukhaireni', 'rhishing', 'devghat', 'bandipur',
       'bhimad', 'shuklagandaki', 'ghiring', 'bhanu', 'dalome',
       'gharapjhong', 'lomanthang', 'barhagaun muktikhsetra', 'thasang',
       'nisdi', 'tansen', 'mathagadhi', 'rainadevi chhahara',
       'bagnaskali', 'ribdikot', 'purbakhola', 'tinau', 'rambha',
       'rampur', 'rainas', 'dordi', 'kwholasothar', 'madhyanepal',
       'sundarbazar', 'marsyangdi', 'besishahar', 'dudhpokhari',
       'rajapur', 'thakurbaba', 'barbardiya', 'bansagadhi', 'madhuwan',
       'geruwa', 'gulariya', 'badhaiyatal', 'bardiya national park',
       'khajura', 'kohalpur', 'janki', 'rapti sonari', 'narainapur',
       'duduwa', 'baijanath', 'nepalgunj', 'bhagawatimai', 'mahabu',
       'naumule', 'gurans', 'dungeshwor', 'bhairabi', 'narayan',
       'thantikandh', 'chamunda bindrasaini', 'dullu', 'aathabis',
       'shantinagar', 'tulsipur', 'ghorahi', 'dangisharan', 'babai',
       'rajpur', 'lamahi', 'gadhawa', 'banglachuli', 'kuse',
       'tribeni nalagad', 'junichande', 'chhedagad', 'shiwalaya',
       'barekot', 'bheri', 'adanchuli', 'chankheli', 'kharpunath',
       'namkha', 'sarkegad', 'simkot', 'tanjakot', 'chharka tangsong',
       'mudkechula', 'jagadulla', 'shey phoksundo', 'dolpo buddha',
       'thuli bheri', 'kaike', 'khandachakra', 'pachaljharana', 'palata',
       'naraharinath', 'sanni tribeni', 'tilagufa', 'mahawai', 'raskot',
       'hima', 'kanakasundari', 'chandannath', 'patrasi', 'guthichaur',
       'sinja', 'tatopani', 'tila', 'soru', 'khatyad', 'chhayanath rara',
       'mugum karmarong', 'gaumukhi', 'jhimruk', 'sworgadwary', 'pyuthan',
       'ayirabati', 'mallarani', 'naubahini', 'mandavi', 'sarumarani',
       'bangad kupinde', 'kalimati', 'chhatreshwori', 'sharada',
       'kumakhmalika', 'dhorchaur', 'darma', 'kapurkot', 'tribeni',
       'bagchaur', 'simta', 'barahtal', 'chingad', 'panchpuri',
       'chaukune', 'bheriganga', 'gurbhakot', 'lekbeshi', 'birendranagar',
       'suwarnabati', 'sunchhahari', 'sukidaha', 'rolpa', 'runtigadi',
       'duikholi', 'lungri', 'thawang', 'sani bheri', 'aathbiskot',
       'banfikot', 'chaurjahari', 'bhume', 'putha uttarganga', 'sisne',
       'chhededaha', 'himali', 'swami kartik', 'badimalika', 'gaumul',
       'pandav gupha', 'budhinanda', 'khaptad national park', 'surnaya',
       'dogadakedar', 'sigas', 'pancheshwar', 'patan', 'purchaudi',
       'dasharathchanda', 'dilasaini', 'shivanath', 'melauli', 'dhakari',
       'mangalsen', 'panchadewal binayak', 'bannigadhi jayagadh',
       'kamalbazar', 'mellekh', 'sanphebagar', 'ramaroshan', 'turmakhad',
       'chaurpati', 'shailyashikhar', 'dunhu', 'malikaarjun', 'mahakali',
       'naugad', 'apihimal', 'lekam', 'marma', 'ajaymeru', 'alital',
       'amargadhi', 'bhageshwar', 'nawadurga', 'parashuram',
       'ganayapdhura', 'k i singh', 'bogtan', 'jorayal', 'adharsha',
       'sayal', 'dipayal silgadi', 'purbichauki', 'badikedar', 'shikhar',
       'laljhadi', 'punarbas', 'beldandi', 'bedkot', 'shuklaphanta',
       'krishnapur', 'bhimdatta', 'shuklaphanta wildlife reserve',
       'belauri', 'janaki', 'joshipur', 'bhajani', 'chure', 'bardagoriya',
       'lamkichuha', 'kailari', 'dhangadhi', 'gauriganga', 'ghodaghodi',
       'tikapur', 'mohanyal', 'balara', 'hariwan', 'chakraghatta',
       'gaudeta', 'barahathawa', 'malangawa', 'dhankaul', 'bramhapuri',
       'ramnagar', 'haripurwa', 'ishworpur', 'kabilasi', 'lalbandi',
       'chandranagar', 'bishnu', 'haripur', 'katahariya',
       'durga bhagwati', 'gaur', 'garuda', 'birndaban', 'chandrapur',
       'gadhimai', 'gujara', 'madhav narayan', 'phatuwa bijayapur',
       'maulapur', 'dewahhi gonahi', 'baudhimai', 'ishanath', 'paroha',
       'pokhariya', 'dhobini', 'sakhuwaprasauni', 'birgunj',
       'bindabasini', 'jagarnathpur', 'belwa', 'parsagadhi',
       'bahudaramai', 'chhipaharmai', 'pakahamainpur', 'paterwasugauli',
       'subarnapur', 'meghang', 'kispang', 'suryagadhi', 'dupcheshwar',
       'panchakanya', 'bidur', 'tarkeshwar', 'kakani', 'shivapuri',
       'belkotgadhi', 'tadi', 'langtang national park',
       'shivapuri watershed and wildlife reserve', 'nashong', 'neshyang',
       'chame', 'narphu', 'jaleswor', 'balwa', 'loharpatti', 'samsi',
       'pipra', 'bardibas', 'ramgopalpur', 'ekdanra', 'gaushala',
       'bhangaha', 'matihani', 'manra', 'sonama', 'mahottari',
       'gokarneshwor', 'kathmandu', 'nagarjun', 'chandragiri', 'tokha',
       'tarakeshwor', 'kirtipur', 'budhanilakantha', 'dakshinkali',
       'shankharapur', 'kageshwori manahora', 'hansapur kathapulla',
       'nagarain', 'janaknandani', 'kamala siddhidatri', 'lakshminiya',
       'bideha', 'ganeshman charnath', 'janakpur', 'mithila', 'bateshwor',
       'sahidnagar', 'aaurahi', 'dhanusadham', 'mithila bihari',
       'sabaila', 'chhireshwornath', 'mukhiyapatti musarmiya',
       'durgathali', 'bungal', 'thalara', 'surma', 'masta',
       'khaptadchhanna', 'kedarseu', 'jayaprithivi', 'chabispathivera',
       'bithadchir', 'talkot', 'kanda', 'kalaiya', 'pacharauta',
       'prasauni', 'pheta', 'simraungadh', 'nijgadh', 'kolhabi',
       'jitpur simara', 'suwarna', 'devtal', 'parwanipur', 'baragadhi',
       'karaiyamai', 'adarshkotwal', 'mahagadhimai'], dtype=object)

In [226]:
# check if a municipality is in both datasets
troubled_values = []
for f in municipality_codes_df.UNIT_NAME:
    if f not in wards_keys.UNIT_NAME.unique():
        troubled_values.append(f)

In [227]:
len(troubled_values)

5

In [228]:
troubled_values

['chishankhugadhi',
 'ghyanglekha',
 'likhu tamakoshi',
 'myagang',
 'aamachhodingmo']

###

In [229]:
ward_unit_code['UNIT_CODE'] = ward_unit_code['UNIT_CODE'].astype('Int64')

ward_unit_code.head()

   PROVINCE  DISTRICT                     UNIT_NAME  WARD  index  UNIT_CODE
0         1  dhankuta                  sangurigadhi    10      1       <NA>
1         1  dhankuta                  sangurigadhi     9      2       <NA>
2         1  dhankuta  khalsa chhintang shahidbhumi     7      3       <NA>
3         1  dhankuta  khalsa chhintang shahidbhumi     6      4       <NA>
4         1  dhankuta                     mahalaxmi     7      5       <NA>

#### Add district codes to df

In [230]:
# Inverse district_codes dictionary to map district codes to names
district_codes_inv = {v: k for k, v in district_codes.items()}

In [231]:
ward_unit_code['district_code'] = ward_unit_code['DISTRICT'].map(district_codes_inv)
ward_unit_code.dropna(inplace=True)

In [232]:
ward_unit_code.sort_values(by=['UNIT_CODE']).head()

,PROVINCE,DISTRICT,UNIT_NAME,WARD,index,UNIT_CODE,district_code
2013,3,makawanpur,kailash,1,1975,3106,31.0
2014,3,makawanpur,kailash,2,1976,3106,31.0
2015,3,makawanpur,kailash,5,1977,3106,31.0
2016,3,makawanpur,kailash,6,1978,3106,31.0
2017,3,makawanpur,manahari,1,1979,3108,31.0
2018,3,makawanpur,manahari,3,1980,3108,31.0
2019,3,makawanpur,hetauda,18,1981,3104,31.0
2020,3,makawanpur,thaha,8,1982,3111,31.0
2021,3,makawanpur,thaha,7,1983,3111,31.0
2022,3,makawanpur,makawanpurgadhi,5,1984,3107,31.0
2023,3,makawanpur,makawanpurgadhi,6,1985,3107,31.0
2024,3,makawanpur,thaha,6,1986,3111,31.0
2025,3,makawanpur,thaha,1,1987,3111,31.0
2026,3,makawanpur,thaha,5,1988,3111,31.0
2027,3,makawanpur,hetauda,19,1989,3104,31.0
2028,3,makawanpur,hetauda,3,1990,3104,31.0
2029,3,makawanpur,bagmati,9,1991,3101,31.0
2030,3,makawanpur,bhimphedi,2,1992,3103,31.0

#### Create ward_id by appending

In [233]:
ward_id = []

for i, y in ward_unit_code.iterrows():
    if y['WARD'] < 10:
        ward_id.append(str(y['UNIT_CODE']) + '0' + str(y['WARD']))
    else: 
        ward_id.append(str(y['UNIT_CODE']) + str(y['WARD']))

ward_unit_code['ward_id'] = ward_id
ward_unit_code['ward_id'] = ward_unit_code['ward_id'].astype('Int64')

In [234]:
ward_unit_code.shape

(993, 8)

In [235]:
ward_unit_code.ward_id.nunique()

923

In [236]:
ward_unit_code.head()

,PROVINCE,DISTRICT,UNIT_NAME,WARD,index,UNIT_CODE,district_code,ward_id
298,1,okhaldhunga,sunkoshi,1,299,1208,12.0,120801
299,1,okhaldhunga,sunkoshi,1,299,2008,12.0,200801
300,1,okhaldhunga,sunkoshi,1,299,2312,12.0,231201
301,1,okhaldhunga,sunkoshi,2,300,1208,12.0,120802
302,1,okhaldhunga,sunkoshi,2,300,2008,12.0,200802

In [237]:
ward_unit_code.sort_values(by=['ward_id']).head()

,PROVINCE,DISTRICT,UNIT_NAME,WARD,index,UNIT_CODE,district_code,ward_id
357,1,okhaldhunga,champadevi,1,339,1201,12.0,120101
358,1,okhaldhunga,champadevi,2,340,1201,12.0,120102
327,1,okhaldhunga,champadevi,3,318,1201,12.0,120103
361,1,okhaldhunga,champadevi,4,343,1201,12.0,120104
362,1,okhaldhunga,champadevi,5,344,1201,12.0,120105

In [238]:
ward_unit_code.columns

Index(['PROVINCE', 'DISTRICT', 'UNIT_NAME', 'WARD', 'index', 'UNIT_CODE',
       'district_code', 'ward_id'],
      dtype='object')

In [239]:
# Drop unneccecary columns, and change order of columns
ward_id_index = ward_unit_code[['index', 'UNIT_CODE', 'ward_id']]
ward_id_index.head()

     index  UNIT_CODE  ward_id
298    299       1208   120801
299    299       2008   200801
300    299       2312   231201
301    300       1208   120802
302    300       2008   200802

In [240]:
# Save file to csv that connects shapefile with ward_ids
ward_id_index.to_csv('/Users/chantalwuerschinger/code/chantalwuer/earthquake_damage/raw_data/geographical/ward_id_index.csv', index=False)

In [241]:
wards_keys.head()

   PROVINCE  DISTRICT                     UNIT_NAME  WARD  index
0         1  dhankuta                  sangurigadhi    10      1
1         1  dhankuta                  sangurigadhi     9      2
2         1  dhankuta  khalsa chhintang shahidbhumi     7      3
3         1  dhankuta  khalsa chhintang shahidbhumi     6      4
4         1  dhankuta                     mahalaxmi     7      5

In [242]:
wards_keys.sort_values(by=['DISTRICT']).head()

      PROVINCE DISTRICT            UNIT_NAME  WARD  index
5086         7   achham              dhakari     6   5087
5014         7   achham          sanphebagar     6   5015
5015         7   achham            turmakhad     3   5016
5016         7   achham           ramaroshan     6   5017
5017         7   achham  panchadewal binayak     2   5018

# Connect data to wards

In [244]:
household_comp.head()

,building_id,district_id,vdcmun_id,ward_id,count_floors_pre_eq,age_building,land_surface_condition,foundation_type,roof_type,ground_floor_type,other_floor_type,position,plan_configuration,has_superstructure_adobe_mud,has_superstructure_mud_mortar_stone,has_superstructure_stone_flag,has_superstructure_cement_mortar_stone,has_superstructure_mud_mortar_brick,has_superstructure_cement_mortar_brick,has_superstructure_timber,has_superstructure_bamboo,has_superstructure_rc_non_engineered,has_superstructure_rc_engineered,has_superstructure_other,damage_grade,legal_ownership_status,count_families,has_secondary_use,has_secondary_use_agriculture,has_secondary_use_hotel,has_secondary_use_rental,has_secondary_use_institution,has_secondary_use_school,has_secondary_use_industry,has_secondary_use_health_post,has_secondary_use_gov_office,has_secondary_use_use_police,has_secondary_use_other,household_id,gender_household_head,age_household_head,education_level_household_head,income_level_household,size_household
0,120101000011,12,1207,120703,1,9,Flat,Other,Bamboo/Timber-Light roof,Mud,Not applicable,Not attached,Rectangular,0,1,0,0,0,0,0,1,0,0,0,Grade 3,Private,1.0,0.0,0,0,0,0,0,0,0,0,0,0,12010100001101,Male,31.0,Illiterate,Rs. 10 thousand,3.0
1,120101000021,12,1207,120703,1,15,Flat,Other,Bamboo/Timber-Light roof,Mud,Not applicable,Not attached,Rectangular,0,1,0,0,0,0,0,1,0,0,0,Grade 5,Private,1.0,0.0,0,0,0,0,0,0,0,0,0,0,12010100002101,Female,62.0,Illiterate,Rs. 10 thousand,6.0
2,120101000031,12,1207,120703,1,20,Flat,Other,Bamboo/Timber-Light roof,Mud,Not applicable,Not attached,Rectangular,0,1,0,0,0,0,0,0,0,0,0,Grade 2,Private,1.0,0.0,0,0,0,0,0,0,0,0,0,0,12010100003101,Male,51.0,Illiterate,Rs. 10 thousand,13.0
3,120101000041,12,1207,120703,1,20,Flat,Other,Bamboo/Timber-Light roof,Mud,Not applicable,Not attached,Rectangular,0,1,0,0,0,0,0,0,0,0,0,Grade 2,Private,1.0,0.0,0,0,0,0,0,0,0,0,0,0,12010100004101,Male,48.0,Illiterate,Rs. 10 thousand,5.0
4,120101000051,12,1207,120703,1,30,Flat,Other,Bamboo/Timber-Light roof,Mud,Not applicable,Not attached,Rectangular,0,1,0,0,0,0,0,0,0,0,0,Grade 1,Private,1.0,0.0,0,0,0,0,0,0,0,0,0,0,12010100005101,Male,70.0,Illiterate,Rs. 10 thousand,8.0

In [245]:
household_comp.dtypes

building_id                                 int64
district_id                                 int64
vdcmun_id                                   int64
ward_id                                     int64
count_floors_pre_eq                         int64
age_building                                int64
land_surface_condition                     object
foundation_type                            object
roof_type                                  object
ground_floor_type                          object
other_floor_type                           object
position                                   object
plan_configuration                         object
has_superstructure_adobe_mud                int64
has_superstructure_mud_mortar_stone         int64
has_superstructure_stone_flag               int64
has_superstructure_cement_mortar_stone      int64
has_superstructure_mud_mortar_brick         int64
has_superstructure_cement_mortar_brick      int64
has_superstructure_timber                   int64
has_superstructure_bamboo                   int64
has_superstructure_rc_non_engineered        int64
has_superstructure_rc_engineered            int64
has_superstructure_other                    int64
damage_grade                               object
legal_ownership_status                     object
count_families                            float64
has_secondary_use                         float64
has_secondary_use_agriculture               int64
has_secondary_use_hotel                     int64
has_secondary_use_rental                    int64
has_secondary_use_institution               int64
has_secondary_use_school                    int64
has_secondary_use_industry                  int64
has_secondary_use_health_post               int64
has_secondary_use_gov_office                int64
has_secondary_use_use_police                int64
has_secondary_use_other                     int64
household_id                                int64
gender_household_head                      object
age_household_head                        float64
education_level_household_head             object
income_level_household                     object
size_household                            float64
dtype: object

#### Group competition data by ward_id

In [251]:
agg_method = {'float64': 'mean', 'int64': 'mean', 'object':  pd.Series.mode}
data_grouped_wards = household_comp.groupby('ward_id').agg({k: agg_method[str(v)] for k, v in household_comp.dtypes.items()}).round(0)

data_grouped_wards.head()

,building_id,district_id,vdcmun_id,ward_id,count_floors_pre_eq,age_building,land_surface_condition,foundation_type,roof_type,ground_floor_type,other_floor_type,position,plan_configuration,has_superstructure_adobe_mud,has_superstructure_mud_mortar_stone,has_superstructure_stone_flag,has_superstructure_cement_mortar_stone,has_superstructure_mud_mortar_brick,has_superstructure_cement_mortar_brick,has_superstructure_timber,has_superstructure_bamboo,has_superstructure_rc_non_engineered,has_superstructure_rc_engineered,has_superstructure_other,damage_grade,legal_ownership_status,count_families,has_secondary_use,has_secondary_use_agriculture,has_secondary_use_hotel,has_secondary_use_rental,has_secondary_use_institution,has_secondary_use_school,has_secondary_use_industry,has_secondary_use_health_post,has_secondary_use_gov_office,has_secondary_use_use_police,has_secondary_use_other,household_id,gender_household_head,age_household_head,education_level_household_head,income_level_household,size_household
ward_id,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
120101,1.234031e+11,12.0,1201.0,120101.0,2.0,14.0,Flat,Mud mortar-Stone/Brick,Bamboo/Timber-Light roof,Mud,TImber/Bamboo-Mud,Not attached,Rectangular,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Grade 4,Private,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.234031e+13,Male,46.0,Non-formal education,Rs. 10 thousand,6.0
120102,1.234077e+11,12.0,1201.0,120102.0,2.0,17.0,Flat,Mud mortar-Stone/Brick,Bamboo/Timber-Light roof,Mud,TImber/Bamboo-Mud,Not attached,Rectangular,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Grade 1,Private,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.234077e+13,Female,43.0,Illiterate,Rs. 10 thousand,6.0
120103,1.219049e+11,12.0,1201.0,120103.0,3.0,18.0,Flat,Mud mortar-Stone/Brick,Bamboo/Timber-Light roof,Mud,TImber/Bamboo-Mud,Not attached,Rectangular,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Grade 3,Private,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.219049e+13,Male,46.0,Illiterate,Rs. 10 thousand,6.0
120104,1.213038e+11,12.0,1201.0,120104.0,2.0,13.0,Flat,Mud mortar-Stone/Brick,Bamboo/Timber-Light roof,Mud,TImber/Bamboo-Mud,Not attached,Rectangular,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,Grade 2,Private,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.213038e+13,Male,48.0,Illiterate,Rs. 10 thousand,6.0
120105,1.213060e+11,12.0,1201.0,120105.0,2.0,14.0,Flat,Mud mortar-Stone/Brick,Bamboo/Timber-Light roof,Brick/Stone,TImber/Bamboo-Mud,Not attached,Rectangular,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,Grade 1,Private,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.213060e+13,Male,45.0,Illiterate,Rs. 10 thousand,5.0

In [252]:
# Save csv that has ward_id and grouped features
data_grouped_wards.to_csv('/Users/chantalwuerschinger/code/chantalwuer/earthquake_damage/raw_data/geographical/data_grouped_wards_income_cat_rounded.csv', index=True)

In [257]:
population = household_comp.groupby('ward_id').agg({'size_household': np.sum})
population.head()

         size_household
ward_id
120101           3258.0
120102           3430.0
120103           2472.0
120104           3047.0
120105           2009.0

In [258]:
population.size_household.sum()

3677133.0

In [259]:
population.to_csv('/Users/chantalwuerschinger/code/chantalwuer/earthquake_damage/raw_data/geographical/pop_per_ward.csv', index=True)