# Mapping information per district/ward

## Imports

In [28]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [29]:
from earthquake_damage.data.main import reduce_memory_df

## Import data

In [30]:
household_comp = pd.read_csv('/Users/chantalwuerschinger/code/chantalwuer/earthquake_damage/processed_data/comp_data_household.csv')
attributes_map = pd.read_csv('/Users/chantalwuerschinger/code/chantalwuer/earthquake_damage/raw_data/geographical/attributes_maps.csv')
geo_keys = pd.read_csv('/Users/chantalwuerschinger/code/chantalwuer/earthquake_damage/raw_data/geographical/ward_vdcmun_district_name_mapping.csv')

In [241]:
district_vdc_keys = pd.read_csv('/Users/chantalwuerschinger/code/chantalwuer/earthquake_damage/raw_data/geographical/District_VDC_codes_Nepal.csv')
wards_keys = pd.read_csv('/Users/chantalwuerschinger/code/chantalwuer/earthquake_damage/raw_data/geographical/map_wards_index.csv')

In [32]:
household_comp = reduce_memory_df(household_comp)
attributes_map = reduce_memory_df(attributes_map)

Original memory usage of df is 251 MB
New memory usage of df is 56 MB
Original memory usage of df is 0 MB
New memory usage of df is 0 MB

## Open Data Portal

### Household Comp Data

In [33]:
display(household_comp.head())
household_comp.shape

,building_id,district_id,vdcmun_id,ward_id,count_floors_pre_eq,age_building,land_surface_condition,foundation_type,roof_type,ground_floor_type,other_floor_type,position,plan_configuration,has_superstructure_adobe_mud,has_superstructure_mud_mortar_stone,has_superstructure_stone_flag,has_superstructure_cement_mortar_stone,has_superstructure_mud_mortar_brick,has_superstructure_cement_mortar_brick,has_superstructure_timber,has_superstructure_bamboo,has_superstructure_rc_non_engineered,has_superstructure_rc_engineered,has_superstructure_other,damage_grade,legal_ownership_status,count_families,has_secondary_use,has_secondary_use_agriculture,has_secondary_use_hotel,has_secondary_use_rental,has_secondary_use_institution,has_secondary_use_school,has_secondary_use_industry,has_secondary_use_health_post,has_secondary_use_gov_office,has_secondary_use_use_police,has_secondary_use_other,household_id,gender_household_head,age_household_head,education_level_household_head,income_level_household,size_household
0,120101000011,12,1207,120703,1,9,Flat,Other,Bamboo/Timber-Light roof,Mud,Not applicable,Not attached,Rectangular,0,1,0,0,0,0,0,1,0,0,0,Grade 3,Private,1.0,0.0,0,0,0,0,0,0,0,0,0,0,12010100001101,Male,31.0,Illiterate,0.0,3.0
1,120101000021,12,1207,120703,1,15,Flat,Other,Bamboo/Timber-Light roof,Mud,Not applicable,Not attached,Rectangular,0,1,0,0,0,0,0,1,0,0,0,Grade 5,Private,1.0,0.0,0,0,0,0,0,0,0,0,0,0,12010100002101,Female,62.0,Illiterate,0.0,6.0
2,120101000031,12,1207,120703,1,20,Flat,Other,Bamboo/Timber-Light roof,Mud,Not applicable,Not attached,Rectangular,0,1,0,0,0,0,0,0,0,0,0,Grade 2,Private,1.0,0.0,0,0,0,0,0,0,0,0,0,0,12010100003101,Male,51.0,Illiterate,0.0,13.0
3,120101000041,12,1207,120703,1,20,Flat,Other,Bamboo/Timber-Light roof,Mud,Not applicable,Not attached,Rectangular,0,1,0,0,0,0,0,0,0,0,0,Grade 2,Private,1.0,0.0,0,0,0,0,0,0,0,0,0,0,12010100004101,Male,48.0,Illiterate,0.0,5.0
4,120101000051,12,1207,120703,1,30,Flat,Other,Bamboo/Timber-Light roof,Mud,Not applicable,Not attached,Rectangular,0,1,0,0,0,0,0,0,0,0,0,Grade 1,Private,1.0,0.0,0,0,0,0,0,0,0,0,0,0,12010100005101,Male,70.0,Illiterate,0.0,8.0

(747137, 44)

In [166]:
household_comp.sort_values(by='ward_id').head()

,building_id,district_id,vdcmun_id,ward_id,count_floors_pre_eq,age_building,land_surface_condition,foundation_type,roof_type,ground_floor_type,other_floor_type,position,plan_configuration,has_superstructure_adobe_mud,has_superstructure_mud_mortar_stone,has_superstructure_stone_flag,has_superstructure_cement_mortar_stone,has_superstructure_mud_mortar_brick,has_superstructure_cement_mortar_brick,has_superstructure_timber,has_superstructure_bamboo,has_superstructure_rc_non_engineered,has_superstructure_rc_engineered,has_superstructure_other,damage_grade,legal_ownership_status,count_families,has_secondary_use,has_secondary_use_agriculture,has_secondary_use_hotel,has_secondary_use_rental,has_secondary_use_institution,has_secondary_use_school,has_secondary_use_industry,has_secondary_use_health_post,has_secondary_use_gov_office,has_secondary_use_use_police,has_secondary_use_other,household_id,gender_household_head,age_household_head,education_level_household_head,income_level_household,size_household
22009,123404000061,12,1201,120101,3,21,Flat,Mud mortar-Stone/Brick,Bamboo/Timber-Heavy roof,Mud,TImber/Bamboo-Mud,Not attached,Rectangular,0,1,0,0,0,0,0,0,0,0,0,Grade 1,Private,1.0,0.0,0,0,0,0,0,0,0,0,0,0,12340400006101,Male,70.0,Illiterate,0.0,6.0
22219,123405001101,12,1201,120101,2,15,Flat,Cement-Stone/Brick,Bamboo/Timber-Light roof,Mud,TImber/Bamboo-Mud,Not attached,Rectangular,0,1,0,0,0,0,0,0,0,0,0,Grade 4,Private,1.0,0.0,0,0,0,0,0,0,0,0,0,0,12340500110101,Male,62.0,Non-formal education,0.0,2.0
22218,123405001091,12,1201,120101,2,35,Flat,Mud mortar-Stone/Brick,Bamboo/Timber-Light roof,Mud,TImber/Bamboo-Mud,Not attached,Rectangular,0,1,0,0,0,0,0,0,0,0,0,Grade 3,Private,1.0,0.0,0,0,0,0,0,0,0,0,0,0,12340500109101,Male,82.0,Non-formal education,0.0,2.0
22217,123405001081,12,1201,120101,2,30,Flat,Mud mortar-Stone/Brick,Bamboo/Timber-Light roof,Mud,TImber/Bamboo-Mud,Not attached,Rectangular,0,1,0,0,0,0,0,0,0,0,0,Grade 5,Private,1.0,0.0,0,0,0,0,0,0,0,0,0,0,12340500108101,Female,35.0,Non-formal education,1.0,7.0
22216,123405001071,12,1201,120101,2,17,Flat,Cement-Stone/Brick,Bamboo/Timber-Light roof,Mud,TImber/Bamboo-Mud,Not attached,Rectangular,0,1,0,0,0,0,0,0,0,0,0,Grade 4,Private,1.0,0.0,0,0,0,0,0,0,0,0,0,0,12340500107101,Male,42.0,In education,1.0,6.0

In [34]:
household_comp.vdcmun_id.nunique()

110

In [35]:
districts = household_comp.district_id.unique()

In [36]:
districts

array([12, 20, 21, 22, 23, 24, 28, 29, 30, 31, 36], dtype=int8)

### Geokeys

In [37]:
display(geo_keys.head())
geo_keys.shape

,ward_id,vdcmun_id,vdcmun_name,district_id,district_name
0,120101,1201,Champadevi Rural Municipality,12,Okhaldhunga
1,120102,1201,Champadevi Rural Municipality,12,Okhaldhunga
2,120103,1201,Champadevi Rural Municipality,12,Okhaldhunga
3,120104,1201,Champadevi Rural Municipality,12,Okhaldhunga
4,120105,1201,Champadevi Rural Municipality,12,Okhaldhunga

(949, 5)

In [38]:
geo_keys.vdcmun_name.unique()

array(['Champadevi Rural Municipality',
       'Chishankhu Gadhi Rural Municipality',
       'Khiji Demba Rural Municipality', 'Likhu Rural Municipality',
       'Manebhanjyang Rural Municipality', 'Molung Rural Municipality',
       'Siddhicharan Municipality', 'Sunkoshi Rural Municipality',
       'Dudhouli Municipality', 'Ghyanglekha Rural Municipality',
       'Golanjor Rural Municipality',
       'Hariharpurgaghi Rural Municipality', 'Kamalamai Municipality',
       'Marin Rural Municipality', 'Phikkal Rural Municipality',
       'Tinpatan Rural Municipality', 'Doramba Rural Municipality',
       'Gokulganga Rural Municipality', 'Khandadevi Rural Municipality',
       'Likhu Tamakoshi Rural Municipality', 'Manthali  Municipality',
       'Ramechhap Municipality', 'Sunapati Rural Municipality',
       'Umakunda Rural Municipality', 'Baitedhar Rural Municipality',
       'Bhimeshwor Municipality', 'Bigu Rural Municipality',
       'Gaurishankar Rural Municipality', 'Jiri Municipality',
       'Kalinchowk Rural Municipality', 'Melung Rural Municipality',
       'Shailung Rural Municipality', 'Tamakoshi Rural Municipality',
       'Bahrabise Municipality', 'Balephi Rural Municipality',
       'Bhotekoshi Rural Municipality',
       'Choutara Sangachowkgadhi Municipality',
       'Helambu Rural Municipality', 'Indrawoti Rural Municipality',
       'Jugal Rural Municipality', 'Langtang National Park',
       'Lisankhu Pakhar Rural Municipality', 'Melanchi Municipality',
       'Panchpokhari Thangpal Rural Municipality',
       'Tripurasundari Rural Municipality', 'Banepa Municipality',
       'Bethanchowk Rural Municipality', 'Bhumlu Rural Municipality',
       'Chauri Deurali Rural Municipality', 'Dhulikhel Municipality',
       'Khanikhola Rural Municipality', 'Mahabharat Rural Municipality',
       'Mandan Deupur Municipality', 'Namobuddha Municipality',
       'Panauti Municipality', 'Panchkhal Municipality',
       'Roshi Rural Municipality', 'Temal Rural Municipality',
       'Belkotgadhi Municipality', 'Bidur Municipality',
       'Dupcheshwor Rural Municipality', 'Kakani Rural Municipality',
       'Kispang Rural Municipality', 'Myagang Rural Municipality',
       'Panchakanya Rural Municipality', 'Shivapuri Rural Municipality',
       'Suryagadhi Rural Municipality', 'Tadi Rural Municipality',
       'Tarakeshwor Rural Municipality',
       'Aamachhodingmo Rural Municipality',
       'Gosaikunda Rural Municipality', 'Kalika Rural Municipality',
       'Naukunda Rural Municipality', 'Uttargaya Rural Municipality',
       'Benighat Rorang Rural Municipality', 'Dhunibenshi Municipality',
       'Gajuri Rural Municipality', 'Galchhi Rural Municipality',
       'Ganga Jamuna Rural Municipality', 'Jwalamukhi Rural Municipality',
       'Khaniyabas Rural Municipality',
       'Netrawati Dabajong Rural Municipality',
       'Neelakantha Municipality', 'Rubi Valley Rural Municipality',
       'Siddhalek Rural Municipality', 'Thakre Rural Municipality',
       'Bagmati Rural Municipality', 'Bakaiya Rural Municipality',
       'Bhimphedi Rural Municipality', 'Hetauda Sub-Metropolitian City',
       'Indrasarowar Rural Municipality', 'Kailash Rural Municipality',
       'Makawanpurgadhi Rural Municipality',
       'Manahari Rural Municipality', 'Parsa Wild Life Reserve',
       'Raksirang Rural Municipality', 'Thaha Municipality',
       'Aarughat Rural Municipality', 'Ajirkot Rural Municipality',
       'Barpak Sulikot Rural Municipality',
       'Bhimsen Thapa Rural Municipality',
       'Chumanubri Rural Municipality', 'Dharche Rural Municipality',
       'Gandaki Rural Municipality', 'Gorkha Municipality',
       'Palungtar Municipality', 'Shahid Lakhan Rural Municipality',
       'Siranchowk Rural Municipality'], dtype=object)

## Attributes map shp/ Unit names

In [39]:
display(attributes_map.head())
attributes_map.shape

,ID,PROVINCE,DISTRICT,UNIT_TYPE,UNIT_NAME,DISTRICT_C,SHAPE_LENG,SHAPE_AREA
0,12001,1,OKHALDHUNGA,Gaunpalika,Champadevi,12,67524.513063,1.269135e+08
1,12002,1,OKHALDHUNGA,Gaunpalika,Chisankhugadhi,12,59967.873321,1.119305e+08
2,12003,1,OKHALDHUNGA,Gaunpalika,Khijidemba,12,63964.120360,1.797693e+08
3,12004,1,OKHALDHUNGA,Gaunpalika,Likhu,12,54519.341217,8.803235e+07
4,12005,1,OKHALDHUNGA,Gaunpalika,Manebhanjyang,12,59119.757274,1.466087e+08

(114, 8)

In [40]:
unit_names = attributes_map.UNIT_NAME.unique().tolist()

## District Keys

In [41]:
district_vdc_keys.head()

,District,Zone,Geographical Region,Region,District_code,VDC_name,VDC_code
0,Taplejung,Mechi,Mountain,Eastern,1,Ambegudin,1001
1,Taplejung,Mechi,Mountain,Eastern,1,Ankhop,1002
2,Taplejung,Mechi,Mountain,Eastern,1,Chaksibote,1003
3,Taplejung,Mechi,Mountain,Eastern,1,Change,1004
4,Taplejung,Mechi,Mountain,Eastern,1,Dhungesaghu,1005

In [42]:
district_vdc_keys.District_code.unique()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34,
       35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51,
       52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68,
       69, 70, 71, 72, 73, 74, 75])

In [43]:
district_vdc_keys.District.unique()

array(['Taplejung', 'Panchthar', 'Ilam', 'Jhapa', 'Morang', 'Sunsari',
       'Dhankuta', 'Terhathum', 'Sankhuwasabha', 'Bhojpur', 'Solukhumbu',
       'Okhaldhunga', 'Khotang', 'Udayapur', 'Saptari', 'Siraha',
       'Dhanusa', 'Mahottari', 'Sarlahi', 'Sindhuli', 'Ramechhap',
       'Dolakha', 'Sindhupalchok', 'Kavre', 'Lalitpur', 'Bhaktapur',
       'Kathmandu', 'Nuwakot', 'Rasuwa', 'Dhading', 'Makwanpur',
       'Rautahat', 'Bara', 'Parsa', 'Chitawan', 'Gorkha', 'Lamjung',
       'Tanahu', 'Syangja', 'Kaski', 'Manang', 'Mustang', 'Myagdi',
       'Parbat', 'Baglung', 'Gulmi', 'Palpa', 'Nawalparasi', 'Rupandehi',
       'Kapilbastu', 'Arghakhanchi', 'Pyuthan', 'Rolpa', 'Rukum',
       'Salyan', 'Dang', 'Banke', 'Bardiya', 'Surkhet', 'Dailekh',
       'Jajarkot', 'Dolpa', 'Jumla', 'Kalikot', 'Mugu', 'Humla', 'Bajura',
       'Bajhang', 'Achham', 'Doti', 'Kailali', 'Kanchanpur', 'Dadeldhura',
       'Baitadi', 'Darchaula'], dtype=object)

In [44]:
# only show columns with district_code = 12
district_vdc_keys[district_vdc_keys['VDC_code'] == 12001]

,District,Zone,Geographical Region,Region,District_code,VDC_name,VDC_code
507,Okhaldhunga,Sagarmatha,Hill,Eastern,12,Andheri(Narayansthan),12001

## Ward Keys

In [221]:
wards_keys.head()

   PROVINCE  DISTRICT                        PALIKA         TYPE  WARD  index
0         1  DHANKUTA                  Sangurigadhi   Gaunpalika    10      1
1         1  DHANKUTA                  Sangurigadhi   Gaunpalika     9      2
2         1  DHANKUTA  Khalsa Chhintang Shahidbhumi   Gaunpalika     7      3
3         1  DHANKUTA  Khalsa Chhintang Shahidbhumi   Gaunpalika     6      4
4         1  DHANKUTA                     Mahalaxmi  Nagarpalika     7      5

In [218]:
wards_keys_sorted = wards_keys.sort_values(by=['DISTRICT', 'PALIKA'])
wards_keys_sorted.head()

      WARD  PROVINCE DISTRICT               PALIKA        TYPE
5000     5         7   ACHHAM  Bannigadhi Jayagadh  Gaunpalika
5009     3         7   ACHHAM  Bannigadhi Jayagadh  Gaunpalika
5024     6         7   ACHHAM  Bannigadhi Jayagadh  Gaunpalika
5030     1         7   ACHHAM  Bannigadhi Jayagadh  Gaunpalika
5038     2         7   ACHHAM  Bannigadhi Jayagadh  Gaunpalika

In [209]:
wards_keys.shape

(6730, 4)

In [46]:
wards_keys[wards_keys['DISTRICT'] == 'OKHALDHUNGA']

     WARD  PROVINCE     DISTRICT          PALIKA         TYPE
298     1         1  OKHALDHUNGA        Sunkoshi   Gaunpalika
299     2         1  OKHALDHUNGA        Sunkoshi   Gaunpalika
300     5         1  OKHALDHUNGA    Siddhicharan  Nagarpalika
301     2         1  OKHALDHUNGA          Molung   Gaunpalika
302     7         1  OKHALDHUNGA    Siddhicharan  Nagarpalika
303    10         1  OKHALDHUNGA    Siddhicharan  Nagarpalika
304     6         1  OKHALDHUNGA  Chisankhugadhi   Gaunpalika
305     8         1  OKHALDHUNGA      Khijidemba   Gaunpalika
306     8         1  OKHALDHUNGA      Champadevi   Gaunpalika
307     9         1  OKHALDHUNGA      Champadevi   Gaunpalika
308     7         1  OKHALDHUNGA        Sunkoshi   Gaunpalika
309     8         1  OKHALDHUNGA        Sunkoshi   Gaunpalika
310     3         1  OKHALDHUNGA  Chisankhugadhi   Gaunpalika
311     6         1  OKHALDHUNGA           Likhu   Gaunpalika
312     7         1  OKHALDHUNGA           Likhu   Gaunpalika
313     4         1  OKHALDHUNGA          Molung   Gaunpalika
314     3         1  OKHALDHUNGA          Molung   Gaunpalika
315     6         1  OKHALDHUNGA    Siddhicharan  Nagarpalika
316     9         1  OKHALDHUNGA    Siddhicharan  Nagarpalika
317     3         1  OKHALDHUNGA      Champadevi   Gaunpalika
318     9         1  OKHALDHUNGA        Sunkoshi   Gaunpalika
319    10         1  OKHALDHUNGA        Sunkoshi   Gaunpalika
320     4         1  OKHALDHUNGA   Manebhanjyang   Gaunpalika
321     3         1  OKHALDHUNGA      Khijidemba   Gaunpalika
322     5         1  OKHALDHUNGA      Khijidemba   Gaunpalika
323     6         1  OKHALDHUNGA      Khijidemba   Gaunpalika
324     4         1  OKHALDHUNGA      Khijidemba   Gaunpalika
325     1         1  OKHALDHUNGA  Chisankhugadhi   Gaunpalika
326     1         1  OKHALDHUNGA          Molung   Gaunpalika
327     9         1  OKHALDHUNGA   Manebhanjyang   Gaunpalika
328     8         1  OKHALDHUNGA  Chisankhugadhi   Gaunpalika
329     7         1  OKHALDHUNGA  Chisankhugadhi   Gaunpalika
330     5         1  OKHALDHUNGA   Manebhanjyang   Gaunpalika
331     1         1  OKHALDHUNGA   Manebhanjyang   Gaunpalika
332     5         1  OKHALDHUNGA        Sunkoshi   Gaunpalika
333     6         1  OKHALDHUNGA        Sunkoshi   Gaunpalika
334     3         1  OKHALDHUNGA    Siddhicharan  Nagarpalika
335     3         1  OKHALDHUNGA           Likhu   Gaunpalika
336    11         1  OKHALDHUNGA    Siddhicharan  Nagarpalika
337    12         1  OKHALDHUNGA    Siddhicharan  Nagarpalika
338     1         1  OKHALDHUNGA      Champadevi   Gaunpalika
339     2         1  OKHALDHUNGA      Champadevi   Gaunpalika
340     7         1  OKHALDHUNGA          Molung   Gaunpalika
341     9         1  OKHALDHUNGA      Khijidemba   Gaunpalika
342     4         1  OKHALDHUNGA      Champadevi   Gaunpalika
343     5         1  OKHALDHUNGA      Champadevi   Gaunpalika
344     6         1  OKHALDHUNGA      Champadevi   Gaunpalika
345     7         1  OKHALDHUNGA      Champadevi   Gaunpalika
346     2         1  OKHALDHUNGA  Chisankhugadhi   Gaunpalika
347     9         1  OKHALDHUNGA           Likhu   Gaunpalika
348     5         1  OKHALDHUNGA          Molung   Gaunpalika
349     1         1  OKHALDHUNGA      Khijidemba   Gaunpalika
350     2         1  OKHALDHUNGA      Khijidemba   Gaunpalika
351     8         1  OKHALDHUNGA          Molung   Gaunpalika
352    10         1  OKHALDHUNGA      Champadevi   Gaunpalika
353     4         1  OKHALDHUNGA  Chisankhugadhi   Gaunpalika
354     5         1  OKHALDHUNGA  Chisankhugadhi   Gaunpalika
355     7         1  OKHALDHUNGA      Khijidemba   Gaunpalika
356     4         1  OKHALDHUNGA    Siddhicharan  Nagarpalika
357     8         1  OKHALDHUNGA    Siddhicharan  Nagarpalika
358     6         1  OKHALDHUNGA          Molung   Gaunpalika
359     1         1  OKHALDHUNGA           Likhu   Gaunpalika
360     2         1  OKHALDHUNGA           Likhu   Gaunpalika
361     3         1  OKHALDHUNGA        Sunkoshi   Gaunpalika
362     4         1  OKHALDHUNGA        Sunkoshi   Gaunpalika
363     7         1  OKHALDHUNGA   Manebhanjyang   Gaunpalika
364     8         1  OKHALDHUNGA   Manebhanjyang   Gaunpalika
365     1         1  OKHALDHUNGA    Siddhicharan  Nagarpalika
366     8         1  OKHALDHUNGA           Likhu   Gaunpalika
367     6         1  OKHALDHUNGA   Manebhanjyang   Gaunpalika
368     2         1  OKHALDHUNGA    Siddhicharan  Nagarpalika
369     3         1  OKHALDHUNGA   Manebhanjyang   Gaunpalika
370     2         1  OKHALDHUNGA   Manebhanjyang   Gaunpalika
371     4         1  OKHALDHUNGA           Likhu   Gaunpalika
372     5         1  OKHALDHUNGA           Likhu   Gaunpalika

In [47]:
wards_keys.DISTRICT.unique()

array(['DHANKUTA', 'MORANG', 'KHOTANG', 'OKHALDHUNGA', 'PANCHTHAR',
       'SOLUKHUMBU', 'UDAYAPUR', 'TERHATHUM', 'TAPLEJUNG',
       'SANKHUWASABHA', 'SUNSARI', 'JHAPA', 'BHOJPUR', 'ILAM', 'SAPTARI',
       'SIRAHA', 'DHADING', 'CHITAWAN', 'DOLAKHA', 'KABHREPALANCHOK',
       'LALITPUR', 'MAKAWANPUR', 'RASUWA', 'RAMECHHAP', 'SINDHUPALCHOK',
       'SINDHULI', 'BHAKTAPUR', 'BAGLUNG', 'ARGHAKHANCHI', 'GULMI',
       'GORKHA', 'KAPILBASTU', 'KASKI', 'PARBAT', 'NAWALPARASI', 'MYAGDI',
       'RUPANDEHI', 'SYANGJA', 'TANAHU', 'MUSTANG', 'PALPA', 'LAMJUNG',
       'BARDIYA', 'BANKE', 'DAILEKH', 'DANG', 'JAJARKOT', 'HUMLA',
       'DOLPA', 'KALIKOT', 'JUMLA', 'MUGU', 'PYUTHAN', 'SALYAN',
       'SURKHET', 'ROLPA', 'RUKUM', 'BAJURA', 'BAITADI', 'ACHHAM',
       'DARCHULA', 'DADELDHURA', 'DOTI', 'KANCHANPUR', 'KAILALI',
       'SARLAHI', 'RAUTAHAT', 'PARSA', 'NUWAKOT', 'MANANG', 'MAHOTTARI',
       'KATHMANDU', 'DHANUSHA', 'BAJHANG', 'BARA'], dtype=object)

# 1. Province

In [48]:
provinces = {
    0: 'Province 1',
    1: 'Madhesh',
    2: 'Bagmati',
    3: 'Gandaki',
    4: 'Lumbini',
    5: 'Karnali',
    6: 'Sudurpashchim'
}

provinces_capitals = {
    0: 'Biratnagar',
    1: 'Janakpur',
    2: 'Hetauda',
    3: 'Pokhara',
    4: 'Butwal',
    5: 'Birendranagar',
    6: 'Dhangadhi',
}

# 2. Districts

There are 77 districts within 5 regions

In [97]:
# Open Data Portal
district_codes = { 
        12:'Okhaldhunga',
        20:'Sindhuli',
        21:'Ramechhap',
        22:'Dolakha',
        23:'Sindhupalchok',
        24:'Kavrepalanchok',
        28:'Nuwakot',
        29:'Rasuwa',
        30:'Dhading',
        31:'Makwanpur',
        36:'Gorkha'
}

district_codes = {k: v.lower() for k, v in district_codes.items()}

# 3. VDC MUN/Unit code

In [96]:
municipality_codes = { 
        1201: 'Champadevi',
        1202: 'Chishankhu Gadhi',
        1203: 'Khiji Demba',
        1204: 'Likhu',
        1205: 'Manebhanjyang',
        1206: 'Molung',
        1207: 'Siddhicharan',
        1208: 'Sunkoshi',
        2001: 'Dudhouli',
        2002: 'Ghyanglekha',
        2003: 'Golanjor',
        2004: 'Hariharpurgaghi',
        2005: 'Kamalamai',
        2006: 'Marin',
        2007: 'Phikkal',
        2008: 'Sunkoshi',
        2009: 'Tinpatan',
        2101: 'Doramba',
        2102: 'Gokulganga',
        2103: 'Khandadevi',
        2104: 'Likhu Tamakoshi',
        2105: 'Manthali',
        2106: 'Ramechhap',
        2107: 'Sunapati',
        2108: 'Umakunda',
        2201: 'Baitedhar',
        2202: 'Bhimeshwor',
        2203: 'Bigu',
        2204: 'Gaurishankar',
        2205: 'Jiri',
        2206: 'Kalinchowk',
        2207: 'Melung',
        2208: 'Shailung',
        2209: 'Tamakoshi',
        2301: 'Bahrabise',
        2302: 'Balephi',
        2303: 'Bhotekoshi',
        2304: 'Choutara Sangachowkgadhi',
        2305: 'Helambu',
        2306: 'Indrawoti',
        2307: 'Jugal',
        2308: 'Langtang National Park',
        2309: 'Lisankhu Pakhar',
        2310: 'Melanchi',
        2311: 'Panchpokhari Thangpal',
        2312: 'Sunkoshi',
        2313: 'Tripurasundari',
        2401: 'Banepa',
        2402: 'Bethanchowk',
        2403: 'Bhumlu',
        2404: 'Chauri Deurali',
        2405: 'Dhulikhel',
        2406: 'Khanikhola',
        2407: 'Mahabharat',
        2408: 'Mandan Deupur',
        2409: 'Namobuddha',
        2410: 'Panauti',
        2411: 'Panchkhal',
        2412: 'Roshi',
        2413: 'Temal',
        2801: 'Belkotgadhi',
        2802: 'Bidur',
        2803: 'Dupcheshwor',
        2804: 'Kakani',
        2805: 'Kispang',
        2807: 'Likhu',
        2808: 'Myagang',
        2809: 'Panchakanya',
        2810: 'Shivapuri',
        2811: 'Suryagadhi',
        2812: 'Tadi',
        2813: 'Tarakeshwor',
        2901: 'Aamachhodingmo',
        2902: 'Gosaikunda',
        2903: 'Kalika',
        2904: 'Naukunda',
        2905: 'Uttargaya',
        3001: 'Benighat Rorang',
        3002: 'Dhunibenshi',
        3003: 'Gajuri',
        3004: 'Galchhi',
        3005: 'Ganga Jamuna',
        3006: 'Jwalamukhi',
        3007: 'Khaniyabas',
        3008: 'Netrawati Dabajong',
        3009: 'Nilkhantha',
        3010: 'Rubi Valley',
        3011: 'Siddhalek',
        3012: 'Thakre',
        3013: 'Tripurasundari',
        3101: 'Bagmati',
        3102: 'Bakaiya',
        3103: 'Bhimphedi',
        3104: 'Hetauda Sub-Metropolitian City',
        3105: 'Indrasarowar',
        3106: 'Kailash',
        3107: 'Makawanpurgadhi',
        3108: 'Manahari',
        3109: 'Parsa Wild Life Reserve',
        3110: 'Raksirang',
        3111: 'Thaha',
        3601: 'Aarughat',
        3602: 'Ajirkot',
        3603: 'Barpak Sulikot',
        3604: 'Bhimsen Thapa',
        3605: 'Chumanubri',
        3606: 'Dharche',
        3607: 'Gandaki',
        3608: 'Gorkha',
        3609: 'Palungtar',
        3610: 'Shahid Lakhan',
        3611: 'Siranchowk'
}

municipality_codes = {k: v.lower() for k, v in municipality_codes.items()}

In [51]:
district_vdc_keys.head()

,District,Zone,Geographical Region,Region,District_code,VDC_name,VDC_code
0,Taplejung,Mechi,Mountain,Eastern,1,Ambegudin,1001
1,Taplejung,Mechi,Mountain,Eastern,1,Ankhop,1002
2,Taplejung,Mechi,Mountain,Eastern,1,Chaksibote,1003
3,Taplejung,Mechi,Mountain,Eastern,1,Change,1004
4,Taplejung,Mechi,Mountain,Eastern,1,Dhungesaghu,1005

In [52]:
mun_names = district_vdc_keys.VDC_name.unique().tolist()

In [53]:
mun_names.sort()
mun_names

['Aaglung',
 'Aalapot',
 'Aama',
 'Aamtep',
 'Aanandaban',
 'Aangna',
 'Aangsarang',
 'Aanppipal',
 'Aaptar',
 'Aaruarbang',
 'Aarubote',
 'Aaruchanuate',
 'Aarupokhari',
 'Aathbisdanda',
 'Aathbiskot',
 'Abhirawa',
 'Achalgadh',
 'Adguri',
 'Aekamba',
 'Agara',
 'Aginchok',
 'Agragaun',
 'Agryouli',
 'Ahale',
 'Ainselukharka',
 'Ajagabi',
 'Ajayameru',
 'Ajigara',
 'Akhikarichaur',
 'Akolawa',
 'Alamadevi',
 'Alampu',
 'Alau',
 'Alital',
 'Amaduwa',
 'Amahibariyati',
 'Amahibelaha',
 'Amalachaur',
 'Amale',
 'Amarapuri',
 'Amararbathok',
 'Amarbhumi',
 'Amardaha',
 'Amargadhi Municipality',
 'Amarpatti',
 'Amarpur',
 'Ambegudin',
 'Ambhanjyang',
 'Ambung',
 'Amchaur',
 'Amchok',
 'Amgachhi',
 'Amlekhganj',
 'Amraut',
 'Amritgang',
 'Amuwa',
 'Anaikot',
 'Anakar',
 'Anarmani',
 'Anbukhaireni',
 'Andheri(Narayansthan)',
 'Andupatti',
 'Angdeem',
 'Ankhibhui',
 'Ankhisalla',
 'Ankhop',
 'Annapurna',
 'Apchaur',
 'Arbani',
 'Arbavijaya',
 'Archalbot',
 'Archale',
 'Archhani',
 'Aresh',
 'Argal',
 'Argali',
 'Argha',
 'Arghatos',
 'Arje',
 'Arjewa',
 'Arjunchaupari',
 'Arjundhara',
 'Arkha',
 'Arkhale',
 'Arkhaule',
 'Arkhaulejitpur',
 'Arkhawang',
 'Arlangkot',
 'Arma',
 'Armala',
 'Arman',
 'Arnaha',
 'Arnamalalpur',
 'Arnamarampur',
 'Arthardadakharka',
 'Arthunge',
 'Aruchaur',
 'Arukharka',
 'Arunodaya',
 'Arunthakur',
 'Asanpur',
 'Ashigram',
 'Ashokpurbalkawa',
 'Ashrang',
 'Aslewa',
 'Asrang',
 'Asurena',
 'Asurkot',
 'Atarpur',
 'Atichaur',
 'Atrouli',
 'Aurabarni',
 'Auraha',
 'Aurahi',
 'Auraiya',
 'Avab',
 'Awalching',
 'Awalparajul',
 'Ayodhyanagar',
 'Ayodhyapuri',
 'Baadbhanjyang',
 'Babala',
 'Babare',
 'Babarganj',
 'Babiya',
 'Babiyabirta',
 'Babiyachaur',
 'Babuain',
 'Bachchha',
 'Bachhanpurwa',
 'Bachhyauli',
 'Badabhairab',
 'Badagaun',
 'Badaharadubauliya',
 'Badahare',
 'Badakadiyale',
 'Badakhola',
 'Badakifulbariya',
 'Badalamji',
 'Badalkot',
 'Badalpur',
 'Baddhu',
 'Badegau',
 'Badgama',
 'Badharamal',
 'Badharwa',
 'Badikhel',
 'Badikot',
 'Badki',
 'Bafai',
 'Baflikot',
 'Bagada',
 'Bagaha',
 'Bagahi',
 'Baganaha',
 'Bagarkhola',
 'Bagarkot',
 'Bagauda',
 'Bagauli',
 'Bagbana',
 'Bagchaura',
 'Bagdaha',
 'Bagefatake',
 'Bageshwaritirtrona',
 'Bageswari',
 'Bageswori',
 'Bagesworichokade',
 'Baghmare',
 'Baglung Municipality',
 'Baguwa',
 'Bahadurganj',
 'Bahadurpur',
 'Bahakithanti',
 'Bahakot',
 'Bahauripidari',
 'Bahedabala',
 'Bahrabise',
 'Bahuarba',
 'Bahuarbamatha',
 'Bahuari',
 'Bahundanda',
 'Bahundangi',
 'Bahuni',
 'Bahunidanda',
 'Bahuntilpung',
 'Bahuwamadanpur',
 'Bai',
 'Baidauli',
 'Baidi',
 'Baigundhara',
 'Baijanathpur',
 'Baijinath',
 'Baikuntha',
 'Bairawa',
 'Baireni',
 'Bairghat',
 'Bairgiyabanchauri',
 'Bairgiyalaxminiya',
 'Bairiya',
 'Baisibichawa',
 'Bajedichaur',
 'Bajhakhet',
 'Bajhkanda',
 'Bajhketeria',
 'Bajho',
 'Bajrabarahi',
 'Bajrayogini(Sankhu)',
 'Bajung',
 'Bakachol',
 'Bakalauri',
 'Bakdhauwa',
 'Bakrang',
 'Baksa',
 'Baksila',
 'Baku',
 'Bala',
 'Balabakhar',
 'Balahakathal',
 'Balahasadhara',
 'Balajor',
 'Balakhu',
 'Balakot',
 'Balambu',
 'Balamta',
 'Balara',
 'Balaramwapur',
 'Balawa',
 'Baldengadhi',
 'Baldthali',
 'Baletaksar',
 'Balirampur',
 'Balithum',
 'Baliya',
 'Balkot',
 'Balkumari',
 'Ballagoth',
 'Balting',
 'Balubari',
 'Baluhawa',
 'Balungpani',
 'Baluwa',
 'Baluwapatideupur',
 'Baluwatar',
 'Bamangamakatti',
 'Bame',
 'Bamgha',
 'Bamrang',
 'Bamtibhandar',
 'Bana',
 'Banainiya',
 'Banakatawa',
 'Banakatti',
 'Banakhuchor',
 'Banarjhula',
 'Banaula',
 'Banauli',
 'Banaulidonauli',
 'Bandhuwan',
 'Bandipokhara',
 'Bandipur',
 'Banepa Municipality',
 'Baneswor',
 'Banganga',
 'Bangesal',
 'Bangi',
 'Bangla',
 'Bangre',
 'Banigama',
 'Baniniya',
 'Baniyabhar',
 'Baniyani',
 'Banjakakani',
 'Banjaraha',
 'Banjariya',
 'Banjh',
 'Banlek',
 'Bannatoli',
 'Banou',
 'Banouta',
 'Bansar',
 'Bansbari',
 'Bansi',
 'Banskharka',
 'Baradadivi',
 'Baradanga',
 'Baraha',
 'Barahachhetra',
 'Barahapokhari',
 'Barahathawa',
 'Barai',
 'Baraigaun',
 'Barainiya',
 'Baraipur',
 'Barakulpur',
 'Baramajhiya',
 'Baramchi',
 'Baramjhiya',
 'Barangdi',
 'Baranja',
 'Baraudhoran',
 'Baraula',
 'Barbhanjyang',
 'Barbote',
 'Barchhawa',
 'Barchhen',
 'Bardibas',
 'Bargaun',
 'Barhabise',
 'Bariyarpatti',
 'Bariyarpur',
 'Barjiwang',
 'Barnalu',
 'Barsain(Ko.)',
 'Barsunchet',
 'Baruneshwor',
 'Baruwa',
 'Basa',
 'Basabitti',
 'Basabote',
 'Basadilwa',
 'Basahiya',
 'Basamadi',
 'Basantapatti',
 'Basantapur',
 'Basantatar',
 'Basantpur',
 'Basatpur',
 'Basauti',
 'Basbalpur',
 'Basbiti',
 'Basbitijingadiya',
 'Basbitti',
 'Baseri',
 'Baseshwor',
 'Bashaha',
 'Basikhola',
 'Basingtharpur',
 'Baskharka',
 'Baskhaur',
 'Baspani',
 'Basteem',
 'Basti',
 'Bastipur',
 'Basudevapur',
 'Basudevi',
 'Basuling',
 'Batakachaur',
 'Batara',
 'Batase',
 'Bateswor',
 'Bathanaha',
 'Batraul',
 'Batulasen',
 'Bayala',
 'Bayarban',
 'Bedauli',
 'Begadawar',
 'Begashivapur',
 'Behulibans',
 'Bejapur',
 'Bekhsimledhartigaun',
 'Bela',
 'Beladevipur',
 'Belaha',
 'Belahari',
 'Belapur',
 'Belawa',
 'Belbari',
 'Belbhar',
 'Beldandi',
 'Beldari',
 'Belgachhi',
 'Belghari',
 'Belhara',
 'Belhi',
 'Belhichapena',
 'Belkot',
 'Belpata',
 'Beltar',
 'Belwajabdi',
 'Belwaparsouni',
 'Belwaspur',
 'Benauli',
 'Benethokdeurali',
 'Beni',
 'Benighat',
 'Benimanipur',
 'Beriyabirta',
 'Beriyabirta(Wa.Pu.)',
 'Besishahar',
 'Betahani',
 'Betakuiya',
 'Betali',
 'Betan',
 'Betauna',
 'Beteni',
 'Bethan',
 'Betini',
 'Bhachok',
 'Bhadaiya',
 'Bhadaure',
 'Bhadauretamagi',
 'Bhadgausinawari',
 'Bhadrabas',
 'Bhadrakali',
 'Bhadrapur',
 'Bhadrapur Municipality',
 'Bhadratar',
 'Bhadsar',
 'Bhagabati',
 'Bhaganpur',
 'Bhagawanpur',
 'Bhagawati',
 'Bhagawatipur',
 'Bhagawatitol',
 'Bhagawatpur',
 'Bhageswor',
 'Bhagwanpur',
 'Bhagyaswori',
 'Bhairabanath',
 'Bhairabsthan',
 'Bhaise',
 'Bhaisipankha',
 'Bhajani',
 'Bhakanje',
 'Bhakilmi',
 'Bhaktapur Municipality',
 'Bhaktipur',
 'Bhakunde',
 'Bhalakacha',
 'Bhalayakharka',
 'Bhalchaur',
 'Bhalche',
 'Bhalohiya(Pipra)',
 'Bhalubari',
 'Bhaluwa',
 'Bhaluyeearwaliya',
 'Bhamchaur',
 'Bhandara',
 'Bhangaha',
 'Bhangara',
 'Bhanu',
 'Bhanumati',
 'Bharapa',
 'Bharatganjsigaul',
 'Bharatipur',
 'Bharatpokhari',
 'Bharatpur',
 'Bharatpur Municipality',
 'Bharaul',
 'Bhardaha',
 'Bhardev',
 'Bharse',
 'Bhartapundyadevi',
 'Bharte',
 'Bhatakatiya',
 'Bhatana',
 'Bhatauda',
 'Bhatauli',
 'Bhatauliya',
 'Bhatekhola',
 'Bhatkhola',
 'Bhattedanda',
 'Bhaudaha',
 'Bhawang',
 'Bhawani',
 'Bhawanipur',
 'Bhawaniyapur',
 'Bhawanpurkalabanzar',
 'Bhedapu',
 'Bhedihari',
 'Bhediyahi',
 'Bhijer',
 'Bhimad',
 'Bhimapur',
 'Bhimdhunga',
 'Bhimeshwar Municipality',
 'Bhimeshwor',
 'Bhimfedi',
 'Bhimkhori',
 'Bhimpokhara',
 'Bhimsthan',
 'Bhimtar',
 'Bhinggithe',
 'Bhingri',
 'Bhirgaun',
 'Bhirkot',
 'Bhirpani',
 'Bhirul',
 'Bhisawa',
 'Bhiyee',
 'Bhodaha',
 'Bhogateni',
 'Bhoje',
 'Bhojpur',
 'Bhokraha',
 'Bhoksing',
 'Bhoor',
 'Bhorle',
 'Bhorletar',
 'Bhotasipa',
 'Bhotechaur',
 'Bhotenamlang',
 'Bhoteoodar',
 'Bhraka',
 'Bhubal(Yoon)',
 'Bhuchakrapur',
 'Bhujee',
 'Bhujhawa',
 'Bhujung',
 'Bhuktangle',
 'Bhulbhule',
 'Bhuli',
 'Bhulke',
 'Bhumesthan',
 'Bhumeswor',
 'Bhumirajmadau',
 'Bhumlichok',
 'Bhumlutar',
 'Bhurtung',
 'Bhusaphedi',
 'Bhussinga',
 'Bhutahi',
 'Bhutahipaterwa',
 'Bhuttar',
 'Bhuwaneshorigwaltar',
 'Bhuwanpokhari',
 'Bicharichautara',
 'Bichaur',
 'Bichhaiyan',
 'Bidur Municipality',
 'Bidyapur',
 'Bigu',
 'Bigutar',
 'Bihadibarachaur',
 'Bihadiranipani',
 'Bihi',
 'Bihunkot',
 'Bijaura',
 'Bijauri',
 'Bijayakharka',
 'Bijayalpura',
 'Bijayanagar',
 'Bijayapur',
 'Bijbaniya',
 'Bijubar',
 'Bijuli',
 'Bijulikot',
 'Bijuwa',
 'Bilandu',
 'Bilashpur',
 'Bima',
 'Binamare',
 'Binauna',
 'Binayak',
 'Bindabasini',
 'Bindhi',
 'Bindhyabasini',
 'Bindhyawasini',
 'Biranchibarba',
 'Birat',
 'Biratnagar Sub Metropolitan',
 'Birbas',
 'Birendranagar',
 'Birendranagar Municipality',
 'Birganj Sub Metropolitan City',
 'Birghaarchale',
 'Birkot',
 'Birpath',
 'Birpur',
 'Birpurbarahi',
 'Birtadeurali',
 'Birtiprastoka',
 'Biruwaarchale',
 'Birwaguthi',
 'Bisalla',
 'Bisankhunarayan',
 'Bisarbhora',
 'Bishahariya',
 'Bishnupaduka',
 'Bishnupurkatti',
 'Bishnupurpra.Ma.',
 'Bishnupurpra.Ra',
 'Bishrampur',
 'Bishunpur',
 'Bishunpurwa',
 'Bisrampur',
 'Bisukharka',
 'Bisunpura',
 'Bisunpurwamanpur',
 'Bitalawapipaltari',
 'Bithuwa',
 'Bitijorbagaiya',
 'Bocha',
 'Bodabar',
 'Bodebarsaien',
 'Bodhapokharathok',
 'Bodhe',
 'Bogadi',
 'Boharagaun',
 'Boharigau',
 'Bokhim',
 'Boldefediche',
 'Bongadovan',
 'Boniya',
 'Boriya',
 'Borlang',
 'Boudhagumba',
 'Bowang',
 'Boya',
 'Brahmagaughadi',
 'Brahmapur',
 'Brahmapuri',
 'Bramarpura',
 'Bramhadev',
 'Bramhatola',
 'Bridhim',
 'Budagaun',
 'Budanilkantha',
 'Budhabare',
 'Budhakhani',
 'Budhakot',
 'Budhanagar',
 'Budhasing',
 'Budhathum',
 'Budhi',
 'Budhichaur',
 'Budhiganga',
 'Budimorang',
 'Buipa',
 'Bukhel',
 'Bulingtar',
 'Bulung',
 'Bumiraj',
 'Bung',
 'Bungamati',
 'Bungtang',
 'Buniyad',
 'Bunkot',
 'Burtiwang',
 'Butawal Municipality',
 'Buvramadichaur',
 'Byas Municipality',
 'Byash',
 'Byasi',
 'Chadekareni',
 'Chadwela',
 'Chainpur',
 'Chakchaki',
 'Chakkar',
 'Chakratirtha',
 'Chaksibote',
 'Chalalganeshsthan',
 'Chalnakhel',
 'Chalsa',
 'Chame',
 'Chameta',
 'Champe',
 'Chamunda',
 'Chanai',
 'Chanakhu',
 'Chandani',
 'Chandannath',
 'Chandanpur',
 'Chandenimandan',
 'Chandibhanjyang',
 'Chandika(Bayalpata)',
 'Chandisthan',
 'Chandraayodhyapur',
 'Chandragadhi',
 'Chandralalpur',
 'Chandranagar',
 'Chandranigahapur',
 'Chandreshwor',
 'Chandrodayapur',
 'Change',
 'Changre',
 'Changunarayan',
 'Chankhu',
 'Chanuwa',
 'Chapagaun',
 'Chapakot',
 'Chapalibhadrakali',
 'Chaphamandau',
 'Chappani',
 'Chapre',
 'Charambi',
 'Charang',
 'Charghare',
 'Charpane',
 'Chatari',
 'Chaturale',
 'Chaudandi',
 'Chaudhari',
 'Chaughada',
 'Chauha',
 'Chaukham',
 'Chaukidada',
 'Chaulahi',
 'Chaulakharka',
 'Chaumala',
 'Chauratha',
 'Chaurikharka',
 'Chaurjahari',
 'Chauthe',
 'Chawarachautara',
 'Chepuwa',
 'Chhahara',
 'Chhaikampar',
 'Chhaimale',
 'Chhaling',
 'Chhampi',
 'Chhang',
 'Chhangchhangdi',
 'Chhap',
 'Chhapahile',
 'Chhapali',
 'Chhapari',
 'Chhapre',
 'Chharka',
 'Chhatapipra',
 'Chhatara',
 'Chhataul',
 'Chhatawa',
 'Chhatedhunga',
 'Chhatiwan',
 'Chhatona',
 'Chhatraganj',
 'Chhatredyaurali',
 'Chhayachhetra',
 'Chheskam',
 'Chhetrapa',
 'Chhimkeshwori',
 'Chhinamakhu',
 'Chhinchu',
 'Chhinnamasta',
 'Chhintang',
 'Chhipagada',
 'Chhipchhipe',
 'Chhipra',
 'Chhisti',
 'Chhitaha',
 'Chhitapokhari',
 'Chhiwang',
 'Chhonhup',
 'Chhoprak',
 'Chhorambu',
 'Chhoser',
 'Chhotakiramnagar',
 'Chhumchaur',
 'Chhusang',
 'Chidika',
 'Chidipani',
 'Chikana',
 'Chilankha',
 'Chilaunebas',
 'Chilhiya',
 'Chilime',
 'Chilingdin',
 'Chilkhaya',
 'Chimdi',
 'Chimkhola',
 'Chinnebas',
 'Chipring',
 'Chipur',
 'Chirtungdhara',
 'Chisapani',
 'Chisapani(Magyam)',
 'Chitapol',
 'Chiti',
 'Chitlang',
 'Chitre',
 'Chitrebhanjyang',
 'Chokchisapani',
 'Chokhawang',
 'Chokmagu',
 'Chorakoilpur',
 'Chorni',
 'Choubas',
 'Choughare',
 'Choukati',
 'Chouketardahachok',
 'Choutara',
 'Chuchure',
 'Chuhandanda',
 'Chuja',
 'Chulachuli',
 'Chumchet',
 'Chungwang',
 'Chunikhel',
 'Chunwang',
 'Churiyamai',
 'Chuwa',
 'Chyama',
 'Chyamrangbesi',
 'Chyanam',
 'Chyandada',
 'Chyangthapu',
 'Chyasingkharka',
 'Chyasmitar',
 'Chyngli',
 'D.Govindapur',
 'Daanchhi',
 'Dadajheritadi',
 'Dadakot',
 'Dadaparajul',
 'Dadarbairiya',
 'Dadha',
 'Dadhikot',
 'Dadhuwa',
 'Dadiguranshe',
 'Dagatundada',
 'Dagnam',
 'Daha',
 'Dahabagar',
 'Dahachaur',
 'Dahakalikasthan',
 'Dahakhani',
 'Dahakot',
 'Dahiyar',
 'Daijee',
 'Dainiya',
 'Dakhanwadi',
 'Dalamchaur',
 'Dalchoki',
 'Dalgaun',
 'Damachaur',
 'Damak Municipality',
 'Daman',
 'Damarkhushivalaya',
 'Damek',
 'Damhimarayee',
 'Damri',
 'Dana',
 'Danabari',
 'Dandabazar',
 'Dandafaya',
 'Dandagaun',
 'Dandagoun',
 'Dandakhali',
 'Dandakharka',
 'Dangaji',
 'Dangapa',
 'Dangibari',
 'Dangihat',
 'Dangraha',
 'Dangsing',
 'Dangwang',
 'Dansinhapur',
 'Dantola',
 'Dapchachatraibhanjha',
 'Darakh',
 'Daraunepokhari',
 'Darbardevisthan',
 'Darbhung',
 'Darchha',
 'Darechok',
 'Darkha',
 'Darlamdanda',
 'Darling',
 'Darma',
 'Darmakot',
 'Darna',
 'Darsingdahathum',
 'Darwang',
 'Dasarathpur',
 'Dasera',
 'Dasharathchand Municipality',
 'Dattu',
 'Daud',
 'Daulatpur',
 'Daulichaur',
 'Daungha',
 'Dawannedevi',
 'Daxinkali',
 'Dayanagar',
 'Debadiha',
 'Debahi',
 'Dedgaun',
 'Dehimandau',
 'Dekhatbhuli',
 'Depalgaun',
 'Dethala',
 'Deudakala',
 'Deukhana',
 'Deulek',
 'Deulekh',
 'Deulikot',
 'Deupurkot',
 'Deurali',
 'Deuri',
 'Deurimaruwa',
 'Deuriparbaha',
 'Deusa',
 'Deuvumibaluwa',
 'Devachuli',
 'Devadaha',
 'Devagawa',
 'Devghat',
 'Devichour',
 'Devinagar',
 'Devipur',
 'Devisthan',
 'Devitar',
 'Devpurarupetha',
 'Devsthal',
 'Dewaldibyapur',
 'Dewanganj',
 'Dewantar',
 'Dewapur',
 'Dhabouli',
 'Dhadhawar',
 'Dhaijan',
 'Dhainakot',
 'Dhairing',
 'Dhakadam',
 'Dhakadhai',
 'Dhakari',
 'Dhakawang',
 'Dhaku',
 'Dhalkebar',
 'Dhamali',
 'Dhamauli',
 'Dhamaura',
 'Dhamena',
 'Dhami',
 'Dhamilikuwa',
 'Dhamir',
 'Dhamja',
 'Dhampus',
 'Dhanagadi',
 'Dhanakaulpachhiyati',
 'Dhanakaulpurba',
 'Dhanauji',
 'Dhanauri',
 'Dhanchaur',
 'Dhangada',
 'Dhangadi',
 'Dhangadi Municipality',
 'Dhanglagau',
 'Dhanjaripipal',
 'Dhankauli',
 'Dhankuta Municipality',
 'Dhanusadham',
 'Dhanwang',
 'Dhap',
 'Dhapa',
 'Dhapakhel',
 'Dhapasi',
 'Dhapuksimalbhanjyang',
 'Dharampani',
 'Dharampur',
 'Dharan Municipality',
 'Dharapani',
 'Dharhari',
 'Dhari',
 'Dharmanagar',
 'Dharmapur',
 'Dharmasthali',
 'Dharmawati',
 'Dharmpaniya',
 'Dharna',
 'Dhatan',
 'Dhatiwang',
 'Dhaubadi',
 'Dhaubini',
 'Dhaulakot',
 'Dhawa',
 'Dhawang',
 'Dhikarim/Rim',
 'Dhikasintad/Sitad',
 'Dhikpur',
 'Dhikura',
 'Dhikurepokhari',
 'Dhimal',
 'Dhime',
 'Dhirapur',
 'Dhirkamandau',
 'Dhital',
 'Dhitung',
 'Dho',
 'Dhobaghat(Udayapurkot)',
 'Dhodasain',
 'Dhodeni',
 'Dhodhana',
 'Dhodhanpur',
 'Dhodhari',
 'Dhola',
 'Dholagoh',
 'Dhore',
 'Dhorfirdi',
 'Dhotlekhani',
 'Dhudharukot',
 'Dhudhilabhati',
 'Dhuligada',
 'Dhulikhel Municipality',
 'Dhullubaskot',
 'Dhullugaidi',
 'Dhumthang',
 'Dhunche',
 ...]

In [54]:
matches = []
for i, y in zip(unit_names, municipality_codes.values()):
    if i in municipality_codes.values():
        matches.append(i)
        
print(len(matches))

74

In [55]:
len(unit_names)

110

Attributes_map and codes from open data fit

## Clean Attributes map

In [56]:
attributes_map.head()

,ID,PROVINCE,DISTRICT,UNIT_TYPE,UNIT_NAME,DISTRICT_C,SHAPE_LENG,SHAPE_AREA
0,12001,1,OKHALDHUNGA,Gaunpalika,Champadevi,12,67524.513063,1.269135e+08
1,12002,1,OKHALDHUNGA,Gaunpalika,Chisankhugadhi,12,59967.873321,1.119305e+08
2,12003,1,OKHALDHUNGA,Gaunpalika,Khijidemba,12,63964.120360,1.797693e+08
3,12004,1,OKHALDHUNGA,Gaunpalika,Likhu,12,54519.341217,8.803235e+07
4,12005,1,OKHALDHUNGA,Gaunpalika,Manebhanjyang,12,59119.757274,1.466087e+08

In [57]:
def lower_strings(sentence):
    return sentence.lower()
    # sentence = ''.join(char for char in sentence if not char.isdigit())
	
attributes_map['DISTRICT'] = attributes_map['DISTRICT'].apply(lower_strings)
attributes_map['UNIT_TYPE'] = attributes_map['UNIT_TYPE'].apply(lower_strings)
attributes_map['UNIT_NAME'] = attributes_map['UNIT_NAME'].apply(lower_strings)

In [58]:
attributes_map.head()

,ID,PROVINCE,DISTRICT,UNIT_TYPE,UNIT_NAME,DISTRICT_C,SHAPE_LENG,SHAPE_AREA
0,12001,1,okhaldhunga,gaunpalika,champadevi,12,67524.513063,1.269135e+08
1,12002,1,okhaldhunga,gaunpalika,chisankhugadhi,12,59967.873321,1.119305e+08
2,12003,1,okhaldhunga,gaunpalika,khijidemba,12,63964.120360,1.797693e+08
3,12004,1,okhaldhunga,gaunpalika,likhu,12,54519.341217,8.803235e+07
4,12005,1,okhaldhunga,gaunpalika,manebhanjyang,12,59119.757274,1.466087e+08

In [59]:
for index, row in attributes_map.iterrows():
    print(row['UNIT_NAME'])

champadevi
chisankhugadhi
khijidemba
likhu
manebhanjyang
molung
siddhicharan
sunkoshi
dudhouli
ghanglekh
golanjor
hariharpurgadhi
kamalamai
marin
phikkal
sunkoshi
tinpatan
doramba
gokulganga
khadadevi
likhu
manthali
ramechhap
sunapati
umakunda
baiteshwor
bhimeshwor
bigu
gaurishankar
jiri
kalinchok
melung
sailung
tamakoshi
balefi
barhabise
bhotekoshi
chautara sangachokgadhi
helambu
indrawati
jugal
lisangkhu pakhar
melamchi
panchpokhari thangpal
sunkoshi
tripurasundari
banepa
bethanchowk
bhumlu
chaurideurali
dhulikhel
khanikhola
mahabharat
mandandeupur
namobuddha
panauti
panchkhal
roshi
temal
belkotgadhi
bidur
dupcheshwar
kakani
kispang
likhu
meghang
panchakanya
shivapuri
suryagadhi
tadi
tarkeshwar
shivapuri watershed and wildlife reserve
langtang national park
gosaikunda
kalika
naukunda
parbati kunda
uttargaya
benighat rorang
dhunibesi
gajuri
galchi
gangajamuna
jwalamukhi
khaniyabash
netrawati
nilakantha
rubi valley
siddhalek
thakre
tripura sundari
bagmati
bakaiya
bhimphedi
hetauda
indrasarowar
kailash
makawanpurgadhi
manahari
raksirang
thaha
parsa wildlife reserve
chitawan national park
aarughat
ajirkot
bhimsen
chum nubri
dharche
gandaki
gorkha
palungtar
sahid lakhan
siranchok
sulikot

In [60]:
municipality_codes_df = pd.DataFrame.from_dict(municipality_codes, orient='index', columns=['UNIT_NAME'])
municipality_codes_df['UNIT_NAME'] = municipality_codes_df['UNIT_NAME'].apply(lower_strings)
municipality_codes_df.reset_index(inplace=True)
municipality_codes_df.rename(columns={'index': 'UNIT_CODE'}, inplace=True)
municipality_codes_df.head()

   UNIT_CODE         UNIT_NAME
0       1201        champadevi
1       1202  chishankhu gadhi
2       1203       khiji demba
3       1204             likhu
4       1205     manebhanjyang

In [61]:
shp_unit_code = attributes_map.merge(municipality_codes_df, on='UNIT_NAME', how='left')
shp_unit_code.dropna(inplace=True)
shp_unit_code.drop(columns=['UNIT_TYPE'], inplace=True)
shp_unit_code = shp_unit_code[['ID', 'PROVINCE', 'DISTRICT', 'DISTRICT_C', 'UNIT_CODE', 'UNIT_NAME', 'SHAPE_LENG',
       'SHAPE_AREA', ]]
shp_unit_code['UNIT_CODE'] = shp_unit_code['UNIT_CODE'].astype(int)

In [111]:
shp_unit_code.to_csv('/Users/chantalwuerschinger/code/chantalwuer/earthquake_damage/raw_data/geographical/shp_unit_code.csv', index=False)

In [62]:
shp_unit_code.head()

,ID,PROVINCE,DISTRICT,DISTRICT_C,UNIT_CODE,UNIT_NAME,SHAPE_LENG,SHAPE_AREA
0,12001,1,okhaldhunga,12,1201,champadevi,67524.513063,1.269135e+08
3,12004,1,okhaldhunga,12,1204,likhu,54519.341217,8.803235e+07
4,12004,1,okhaldhunga,12,2807,likhu,54519.341217,8.803235e+07
5,12005,1,okhaldhunga,12,1205,manebhanjyang,59119.757274,1.466087e+08
6,12006,1,okhaldhunga,12,1206,molung,63784.231196,1.124961e+08

In [63]:
household_comp.head()

,building_id,district_id,vdcmun_id,ward_id,count_floors_pre_eq,age_building,land_surface_condition,foundation_type,roof_type,ground_floor_type,other_floor_type,position,plan_configuration,has_superstructure_adobe_mud,has_superstructure_mud_mortar_stone,has_superstructure_stone_flag,has_superstructure_cement_mortar_stone,has_superstructure_mud_mortar_brick,has_superstructure_cement_mortar_brick,has_superstructure_timber,has_superstructure_bamboo,has_superstructure_rc_non_engineered,has_superstructure_rc_engineered,has_superstructure_other,damage_grade,legal_ownership_status,count_families,has_secondary_use,has_secondary_use_agriculture,has_secondary_use_hotel,has_secondary_use_rental,has_secondary_use_institution,has_secondary_use_school,has_secondary_use_industry,has_secondary_use_health_post,has_secondary_use_gov_office,has_secondary_use_use_police,has_secondary_use_other,household_id,gender_household_head,age_household_head,education_level_household_head,income_level_household,size_household
0,120101000011,12,1207,120703,1,9,Flat,Other,Bamboo/Timber-Light roof,Mud,Not applicable,Not attached,Rectangular,0,1,0,0,0,0,0,1,0,0,0,Grade 3,Private,1.0,0.0,0,0,0,0,0,0,0,0,0,0,12010100001101,Male,31.0,Illiterate,0.0,3.0
1,120101000021,12,1207,120703,1,15,Flat,Other,Bamboo/Timber-Light roof,Mud,Not applicable,Not attached,Rectangular,0,1,0,0,0,0,0,1,0,0,0,Grade 5,Private,1.0,0.0,0,0,0,0,0,0,0,0,0,0,12010100002101,Female,62.0,Illiterate,0.0,6.0
2,120101000031,12,1207,120703,1,20,Flat,Other,Bamboo/Timber-Light roof,Mud,Not applicable,Not attached,Rectangular,0,1,0,0,0,0,0,0,0,0,0,Grade 2,Private,1.0,0.0,0,0,0,0,0,0,0,0,0,0,12010100003101,Male,51.0,Illiterate,0.0,13.0
3,120101000041,12,1207,120703,1,20,Flat,Other,Bamboo/Timber-Light roof,Mud,Not applicable,Not attached,Rectangular,0,1,0,0,0,0,0,0,0,0,0,Grade 2,Private,1.0,0.0,0,0,0,0,0,0,0,0,0,0,12010100004101,Male,48.0,Illiterate,0.0,5.0
4,120101000051,12,1207,120703,1,30,Flat,Other,Bamboo/Timber-Light roof,Mud,Not applicable,Not attached,Rectangular,0,1,0,0,0,0,0,0,0,0,0,Grade 1,Private,1.0,0.0,0,0,0,0,0,0,0,0,0,0,12010100005101,Male,70.0,Illiterate,0.0,8.0

In [64]:
test_shapefile = household_comp.groupby('vdcmun_id').agg({'age_building': np.mean, 
                                         'count_floors_pre_eq': np.mean,
                                         'land_surface_condition': pd.Series.mode,
                                         'foundation_type': pd.Series.mode,
                                         'roof_type': pd.Series.mode,
                                         'position': pd.Series.mode,
                                         'damage_grade': pd.Series.mode,
                                         'age_household_head': np.mean,
                                         'size_household': np.mean,
                                         'education_level_household_head': pd.Series.mode,
                                         'gender_household_head': pd.Series.mode,
                                         'vdcmun_id': pd.Series.mode,
                                         })

test_shapefile.head()

,age_building,count_floors_pre_eq,land_surface_condition,foundation_type,roof_type,position,damage_grade,age_household_head,size_household,education_level_household_head,gender_household_head,vdcmun_id
vdcmun_id,,,,,,,,,,,,
1201,14.715682,2.332103,Flat,Mud mortar-Stone/Brick,Bamboo/Timber-Light roof,Not attached,Grade 4,46.871849,5.706994,Illiterate,Male,1201
1202,26.172153,1.775596,Flat,Mud mortar-Stone/Brick,Bamboo/Timber-Light roof,Not attached,Grade 1,49.715191,5.134703,In education,Male,1202
1203,20.631608,2.330320,Flat,Mud mortar-Stone/Brick,Bamboo/Timber-Heavy roof,Not attached,Grade 4,48.173653,5.256642,Illiterate,Male,1203
1204,14.788103,1.981634,Flat,Mud mortar-Stone/Brick,Bamboo/Timber-Heavy roof,Not attached,Grade 4,49.612389,5.905702,Illiterate,Male,1204
1205,20.540249,1.780266,Flat,Mud mortar-Stone/Brick,Bamboo/Timber-Light roof,Not attached,Grade 2,48.355377,5.486584,Illiterate,Male,1205

In [19]:
test_shapefile.to_csv('/Users/chantalwuerschinger/code/chantalwuer/earthquake_damage/raw_data/geographical/test_shapefile.csv', index=True)

In [65]:
test_shapefile.columns

Index(['age_building', 'count_floors_pre_eq', 'land_surface_condition',
       'foundation_type', 'roof_type', 'position', 'damage_grade',
       'age_household_head', 'size_household',
       'education_level_household_head', 'gender_household_head', 'vdcmun_id'],
      dtype='object')

# 4. Wards

In [242]:
wards_keys['PALIKA'] = wards_keys['PALIKA'].apply(lower_strings)
wards_keys['DISTRICT'] = wards_keys['DISTRICT'].apply(lower_strings)
wards_keys.drop(columns=['TYPE'], inplace=True)
wards_keys.rename(columns={'PALIKA': 'UNIT_NAME'}, inplace=True)
wards_keys.head()

   PROVINCE  DISTRICT                     UNIT_NAME  WARD  index
0         1  dhankuta                  sangurigadhi    10      1
1         1  dhankuta                  sangurigadhi     9      2
2         1  dhankuta  khalsa chhintang shahidbhumi     7      3
3         1  dhankuta  khalsa chhintang shahidbhumi     6      4
4         1  dhankuta                     mahalaxmi     7      5

In [73]:
municipality_codes_df.head()

   UNIT_CODE         UNIT_NAME
0       1201        champadevi
1       1202  chishankhu gadhi
2       1203       khiji demba
3       1204             likhu
4       1205     manebhanjyang

In [243]:
ward_unit_code = wards_keys.merge(municipality_codes_df, on='UNIT_NAME', how='left')

In [245]:
# ward_unit_code.dropna(inplace=True)
ward_unit_code['UNIT_CODE'] = ward_unit_code['UNIT_CODE'].astype('Int64')

ward_unit_code.head()

# df['myCol'] = df['myCol'].astype('Int64')

   PROVINCE  DISTRICT                     UNIT_NAME  WARD  index  UNIT_CODE
0         1  dhankuta                  sangurigadhi    10      1       <NA>
1         1  dhankuta                  sangurigadhi     9      2       <NA>
2         1  dhankuta  khalsa chhintang shahidbhumi     7      3       <NA>
3         1  dhankuta  khalsa chhintang shahidbhumi     6      4       <NA>
4         1  dhankuta                     mahalaxmi     7      5       <NA>

In [246]:
district_codes_inv = {v: k for k, v in district_codes.items()}

In [247]:
ward_unit_code['district_code'] = ward_unit_code['DISTRICT'].map(district_codes_inv)
ward_unit_code.dropna(inplace=True)

In [248]:
ward_unit_code.sort_values(by=['UNIT_CODE']).head()
ward_unit_code.head()

     PROVINCE     DISTRICT UNIT_NAME  WARD  index  UNIT_CODE  district_code
298         1  okhaldhunga  sunkoshi     1    299       1208           12.0
299         1  okhaldhunga  sunkoshi     1    299       2008           12.0
300         1  okhaldhunga  sunkoshi     1    299       2312           12.0
301         1  okhaldhunga  sunkoshi     2    300       1208           12.0
302         1  okhaldhunga  sunkoshi     2    300       2008           12.0

In [249]:
ward_id = []

for i, y in ward_unit_code.iterrows():
    if y['WARD'] < 10:
        ward_id.append(str(y['UNIT_CODE']) + '0' + str(y['WARD']))
    else: 
        ward_id.append(str(y['UNIT_CODE']) + str(y['WARD']))

ward_unit_code['ward_id'] = ward_id
ward_unit_code['ward_id'] = ward_unit_code['ward_id'].astype('Int64')

In [250]:
ward_unit_code.head()

,PROVINCE,DISTRICT,UNIT_NAME,WARD,index,UNIT_CODE,district_code,ward_id
298,1,okhaldhunga,sunkoshi,1,299,1208,12.0,120801
299,1,okhaldhunga,sunkoshi,1,299,2008,12.0,200801
300,1,okhaldhunga,sunkoshi,1,299,2312,12.0,231201
301,1,okhaldhunga,sunkoshi,2,300,1208,12.0,120802
302,1,okhaldhunga,sunkoshi,2,300,2008,12.0,200802

In [251]:
ward_unit_code.sort_values(by=['ward_id']).head()

,PROVINCE,DISTRICT,UNIT_NAME,WARD,index,UNIT_CODE,district_code,ward_id
357,1,okhaldhunga,champadevi,1,339,1201,12.0,120101
358,1,okhaldhunga,champadevi,2,340,1201,12.0,120102
327,1,okhaldhunga,champadevi,3,318,1201,12.0,120103
361,1,okhaldhunga,champadevi,4,343,1201,12.0,120104
362,1,okhaldhunga,champadevi,5,344,1201,12.0,120105

In [252]:
ward_unit_code.columns

Index(['PROVINCE', 'DISTRICT', 'UNIT_NAME', 'WARD', 'index', 'UNIT_CODE',
       'district_code', 'ward_id'],
      dtype='object')

In [253]:
ward_id_index = ward_unit_code[['index', 'UNIT_CODE', 'ward_id']]
ward_id_index.head()

     index  UNIT_CODE  ward_id
298    299       1208   120801
299    299       2008   200801
300    299       2312   231201
301    300       1208   120802
302    300       2008   200802

In [254]:
ward_id_index.to_csv('/Users/chantalwuerschinger/code/chantalwuer/earthquake_damage/raw_data/geographical/ward_id_index.csv', index=False)

In [205]:
wards_keys.head()

   WARD  PROVINCE  DISTRICT                     UNIT_NAME
0    10         1  dhankuta                  sangurigadhi
1     9         1  dhankuta                  sangurigadhi
2     7         1  dhankuta  khalsa chhintang shahidbhumi
3     6         1  dhankuta  khalsa chhintang shahidbhumi
4     7         1  dhankuta                     mahalaxmi

In [207]:
wards_keys.sort_values(by=['DISTRICT']).head()

      WARD  PROVINCE DISTRICT            UNIT_NAME
5086     6         7   achham              dhakari
5014     6         7   achham          sanphebagar
5015     3         7   achham            turmakhad
5016     6         7   achham           ramaroshan
5017     2         7   achham  panchadewal binayak

In [ ]:
# create new data frame with same sorting as in gis